##Project
Statistical NLP
We welcome you all to this NLP based case study. The case study (described below - 60 points)
covers concepts taught in traditional models in the NLP course.

##Project Description

Classification is probably the most popular task that you would deal with in real life.
Text in the form of blogs, posts, articles, etc. is written every second. It is a challenge to predict the
information about the writer without knowing about him/her.
We are going to create a classifier that predicts multiple features of the author of a given text.
We have designed it as a Multilabel classification problem.

##Dataset

###Blog Authorship Corpus
Over 600,000 posts from more than 19 thousand bloggers
The Blog Authorship Corpus consists of the collected posts of 19,320 bloggers gathered from
blogger.com in August 2004. The corpus incorporates a total of 681,288 posts and over 140 million
words - or approximately 35 posts and 7250 words per person.
Each blog is presented as a separate file, the name of which indicates a blogger id# and the
blogger’s self-provided gender, age, industry, and astrological sign. (All are labeled for gender and
age but for many, industry and/or sign is marked as unknown.)
All bloggers included in the corpus fall into one of three age groups:
8240 "10s" blogs (ages 13-17),
8086 "20s" blogs(ages 23-27)
2994 "30s" blogs (ages 33-47)
For each age group, there is an equal number of male and female bloggers.
Each blog in the corpus includes at least 200 occurrences of common English words. All formatting
has been stripped with two exceptions. Individual posts within a single blogger are separated by the
date of the following post and links within a post are denoted by the label urllink.

Link to dataset:
https://www.kaggle.com/rtatman/blog-authorship-corpus/downloads/blog-authorship-corpus.zip/2a
t

##Approach & Steps
1. Load the dataset (5 points)

  a. Tip: As the dataset is large, use fewer rows. Check what is working well on your machine and decide accordingly.
2. Preprocess rows of the “text” column (7.5 points)

  a. Remove unwanted characters

  b. Convert text to lowercase

  c. Remove unwanted spaces

  d. Remove stopwords

3. As we want to make this into a multi-label classification problem, you are required to merge all the label columns together, so that we have all the labels together for a particular sentence (7.5 points)

  a. Label columns to merge: “gender”, “age”, “topic”, “sign”

  b. After completing the previous step, there should be only two columns in 
  your dataframe i.e. “text” and “labels” as shown in the below image
4. Separate features and labels, and split the data into training and testing(5 points)
5. Vectorize the features (5 points)

  a. Create a Bag of Words using count vectorizer

    i. Use ngram_range=(1, 2)

    ii. Vectorize training and testing features

  b. Print the term-document matrix

6. Create a dictionary to get the count of every label i.e. the key will be label name and value will
be the total count of the label. Check below image for reference (5 points)
7. Transform the labels - (7.5 points)
As we have noticed before, in this task each example can have multiple tags. To deal with such kind of prediction, we need to transform labels in a binary form and the prediction will be a mask of 0s and 1s. For this purpose, it is convenient to use MultiLabelBinarizer from sklearn

  a. Convert your train and test labels using MultiLabelBinarizer

8. Choose a classifier - (5 points)
In this task, we suggest using the One-vs-Rest approach, which is implemented in
OneVsRestClassifier class. In this approach k classifiers (= number of tags) are trained. As a basic classifier, use LogisticRegression . It is one of the simplest methods, but often it performs good enough in text classification tasks. It might take some time because the number of classifiers to train is large.

  a. Use a linear classifier of your choice, wrap it up in OneVsRestClassifier  to train it on every label

  b. As One-vs-Rest approach might not have been discussed in the sessions, we are providing you the code for that

9. Fit the classifier, make predictions and get the accuracy (5 points)

  a. Print the following

    i. Accuracy score

    ii. F1 score

    iii. Average precision score

    iv. Average recall score

    v. Tip: Make sure you are familiar with all of them. How would you expect the things to work for the multi-label scenario? Read about micro/macro/weighted
averaging

10. Print true label and predicted label for any five examples (7.5 points)

##Project submissions and Evaluation Criteria
While we encourage peer collaboration and contribution, plagiarism, copying the code from other sources or peers will defeat the purpose of coming to this program. We expect the highest order of ethical behavior.

You are provided with the basic approach and the steps that you need to implement. We expect you to do your own research about implementing the steps and knowing about the things that might look new to you.
####Submit the code on Olympus.
Submit the project in a Jupyter notebook and submit it to Olympus for evaluation.

##Project Support
You can clarify your queries by dropping a mail to Olympus
Happy Learning!

Import required libraries

In [361]:
%tensorflow_version 2.x
import tensorflow as tf
print(tf.__version__)

2.1.0

In [0]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

In [0]:
os.chdir('/content/drive/My Drive/GreatLearning/myprojects/Residency8/')

1. Load the dataset (5 points)

  a. Tip: As the dataset is large, use fewer rows. Check what is working well on your machine and decide accordingly.

  https://www.kaggle.com/rtatman/blog-authorship-corpus/downloads/blog-authorship-corpus.zip/2at

In [364]:
!pwd

/content/drive/My Drive/GreatLearning/myprojects/Residency8

In [365]:
!ls

'1a. Classification_MNIST_CNN_Keras.ipynb'
'2a. Download flowers Dataset.ipynb'
'2b. Visualize an Image.ipynb'
'2c. Image Classification - Flowers.ipynb'
'2d. Image Augmentation.ipynb'
'2e. Image Classification - Flowers with Augmentation and Custom Batch Generator .ipynb'
'2e. Image Classification - with Data Augmentation - classwork.ipynb'
'2e. Image Classification - with Data Augmentation.ipynb'
 blog-authorship-corpus.zip
 blogtext.csv
 CNN
 CV_Project2_Dog_Breed_Classification_Questions_Residency8.ipynb
 DogBreed_Classification
 images
 images.zip
 NLP
 Notebooks
 Notebooks-20200131T034024Z-001.zip
 Project_SNLP_R8.ipynb
'Python Generators.ipynb'
 R8_Internal_Lab_ACV_NLP_Question.ipynb
'Statistical NLP Project Brief.pdf'
 tweets.csv
 vgg16_weights_tf_dim_ordering_tf_kernels_notop.h5

In [0]:
from zipfile import ZipFile
with ZipFile('blog-authorship-corpus.zip','r') as z:
  z.extractall()

In [367]:
!ls

'1a. Classification_MNIST_CNN_Keras.ipynb'
'2a. Download flowers Dataset.ipynb'
'2b. Visualize an Image.ipynb'
'2c. Image Classification - Flowers.ipynb'
'2d. Image Augmentation.ipynb'
'2e. Image Classification - Flowers with Augmentation and Custom Batch Generator .ipynb'
'2e. Image Classification - with Data Augmentation - classwork.ipynb'
'2e. Image Classification - with Data Augmentation.ipynb'
 blog-authorship-corpus.zip
 blogtext.csv
 CNN
 CV_Project2_Dog_Breed_Classification_Questions_Residency8.ipynb
 DogBreed_Classification
 images
 images.zip
 NLP
 Notebooks
 Notebooks-20200131T034024Z-001.zip
 Project_SNLP_R8.ipynb
'Python Generators.ipynb'
 R8_Internal_Lab_ACV_NLP_Question.ipynb
'Statistical NLP Project Brief.pdf'
 tweets.csv
 vgg16_weights_tf_dim_ordering_tf_kernels_notop.h5

In [0]:
df = pd.read_csv('blogtext.csv')

2. Preprocess rows of the “text” column (7.5 points)

  a. Remove unwanted characters

  b. Convert text to lowercase

  c. Remove unwanted spaces

  d. Remove stopwords

In [369]:
df.head()

        id  ...                                               text
0  2059027  ...             Info has been found (+/- 100 pages,...
1  2059027  ...             These are the team members:   Drewe...
2  2059027  ...             In het kader van kernfusie op aarde...
3  2059027  ...                   testing!!!  testing!!!
4  3581210  ...               Thanks to Yahoo!'s Toolbar I can ...

[5 rows x 7 columns]

In [370]:
print('Columns:\n',df.columns)

Columns:
 Index(['id', 'gender', 'age', 'topic', 'sign', 'date', 'text'], dtype='object')

In [371]:
print('Number of unique entries in topic:',len(df.topic.unique()))
print('Unique topic values:\n',df.topic.unique())

Number of unique entries in topic: 40
Unique topic values:
 ['Student' 'InvestmentBanking' 'indUnk' 'Non-Profit' 'Banking' 'Education'
 'Engineering' 'Science' 'Communications-Media' 'BusinessServices'
 'Sports-Recreation' 'Arts' 'Internet' 'Museums-Libraries' 'Accounting'
 'Technology' 'Law' 'Consulting' 'Automotive' 'Religion' 'Fashion'
 'Publishing' 'Marketing' 'LawEnforcement-Security' 'HumanResources'
 'Telecommunications' 'Military' 'Government' 'Transportation'
 'Architecture' 'Advertising' 'Agriculture' 'Biotech' 'RealEstate'
 'Manufacturing' 'Construction' 'Chemicals' 'Maritime' 'Tourism'
 'Environment']

In [372]:
print('Number of unique entries in date:',len(df.date.unique()))
print('Unique date values:\n',df.date.unique())

Number of unique entries in date: 2616
Unique date values:
 ['14,May,2004' '13,May,2004' '12,May,2004' ... '05,august,2004'
 '04,august,2004' '02,august,2004']

In [373]:
print('Number of unique entries in sign:',len(df.sign.unique()))
print('Unique sign values:\n',df.sign.unique())

Number of unique entries in sign: 12
Unique sign values:
 ['Leo' 'Aquarius' 'Aries' 'Capricorn' 'Gemini' 'Cancer' 'Sagittarius'
 'Scorpio' 'Libra' 'Virgo' 'Taurus' 'Pisces']

In [374]:
print('Number of unique entries in gender:',len(df.gender.unique()))
print('Unique gender values:\n',df.gender.unique())

Number of unique entries in gender: 2
Unique gender values:
 ['male' 'female']

In [375]:
print('Number of unique entries in age:',len(df.age.unique()))
print('Unique age values:\n',df.age.unique())
print('minimum and maximum age of the authors:',(min(df.age),max(df.age)))

Number of unique entries in age: 26
Unique age values:
 [15 33 14 25 17 23 37 26 24 27 45 34 41 44 16 39 35 36 46 42 13 38 43 40
 47 48]
minimum and maximum age of the authors: (13, 48)

In [376]:
df.shape

(681284, 7)

Given that dataset is huge, taking the subset (10K rows) of dataset for evaluation and modeling

In [0]:
n = 10000

In [0]:
df_subset = df.head(n)

In [379]:
df_subset.shape

(10000, 7)

In [380]:
df_subset['text'] = df_subset['text'].str.lower()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [381]:
df_subset.text[2]

"           in het kader van kernfusie op aarde:  maak je eigen waterstofbom   how to build an h-bomb from: ascott@tartarus.uwa.edu.au (andrew scott) newsgroups: rec.humor subject: how to build an h-bomb (humorous!) date: 7 feb 1994 07:41:14 gmt organization: the university of western australia  original file dated 12th november 1990. seemed to be a transcript of a 'seven days' article. poorly formatted and corrupted. i have added the text between 'examine under a microscope' and 'malleable, like gold,' as it was missing. if anyone has the full text, please distribute. i am not responsible for the accuracy of this information. converted to html by dionisio@infinet.com 11/13/98. (did a little spell-checking and some minor edits too.) stolen from  urllink http://my.ohio.voyager.net/~dionisio/fun/m...own-h-bomb.html  and reformatted the html. it now validates to xhtml 1.0 strict. how to build an h-bomb making and owning an h-bomb is the kind of challenge real americans seek. who wants to be a passive victim of nuclear war when, with a little effort, you can be an active participant? bomb shelters are for losers. who wants to huddle together underground eating canned spam? winners want to push the button themselves. making your own h-bomb is a big step in nuclear assertiveness training -- it's called taking charge. we're sure you'll enjoy the risks and the heady thrill of playing nuclear chicken. introduction when the feds clamped down on the progressive magazine for attempting to publish an article on the manufacture of the hydrogen bomb, it piqued our curiosity. was it really true that atomic and hydrogen bomb technology was so simple you could build an h-bomb in your own kitchen? seven days decided to find out. food editor barbara ehrenreich, investigative reporter peter biskind, photographer jane melnick and nuclear scientist michio kaku were given three days to cook up a workable h-bomb. they did and we have decided to share their culinary secrets with you. not that seven days supports nuclear terrorism. we don't. we would prefer to die slowly from familiar poisons like low-level radiation, microwaves, ddt, dbcp, aflatoxins, pbbs, pbcs, or food dyes, rather than unexpectedly, say as hostage to a latvian nationalist brandishing a homemade bomb. in our view the real terrorists are the governments, american, soviet, french, chinese, and british, that are hoarding h-bombs for their own use, and worse still, those governments (u.s., french and german) that are eagerly peddling advanced nuclear technology to countries like south africa, brazil, and argentina so that they can make their own bombs. when these bombs are used, and they will be, it will be the world's big-time nuclear peddlers, along with corporate suppliers like general electric, westinghouse, and gulf oil, that we can thank for it. gagging the progressive will do no more for national security than backyard bomb shelters because like it or not the news is out. the heart of the successful h-bomb is the successful a-bomb. once you've got your a-bombs made the rest is frosting on the cake. all you have to do is set them up so that when they detonate they'll start off a hydrogen-fusion reaction.  part 1: making your bomb step 1: getting the ingredients uranium is the basic ingredient of the a-bomb. when a uranium atom's nucleus splits apart, it releases a tremendous amount of energy (for its size), and it emits neutrons which go on to split other nearby uranium nuclei, releasing more energy, in what is called a 'chain reaction'. (when atoms split, matter is converted into energy according to einstein's equation e=mc2. what better way to mark his birthday than with your own atomic fireworks?) there are two kinds (isotopes) of uranium: the rare u-235, used in bombs, and the more common, heavier, but useless u-238. natural uranium contains less than 1 percent u-235 and in order to be usable in bombs it has to be 'enriched' to 90 percent u-235 and only 10 percent u-238. plutonium-239 can also be used in bombs as a substitute for u-235. ten pounds of u-235 (or slightly less plutonium) is all that is necessary for a bomb. less than ten pounds won't give you a critical mass. so purifying or enriching naturally occurring uranium is likely to be your first big hurdle. it is infinitely easy to steal ready-to-use enriched uranium or plutonium than to enrich some yourself. and stealing uranium is not as hard as it sounds. there are at least three sources of enriched uranium or plutonium... enriched uranium is manufactured at a gaseous diffusion plant in portsmouth, ohio. from there it is shipped in 10 liter bottles by airplane and trucks to conversion plants that turn it into uranium oxide or uranium metal. each 10 liter bottle contains 7 kilograms of u-235, and there are 20 bottles to a typical shipment. conversion facilities exist at hematite, missouri; apollo, pennsylvania; and erwin, tennessee. the kerr-mcgee plant at crescent oklahoma -- where karen silkwood worked -- was a conversion plant that 'lost' 40 lbs of plutonium. enriched uranium can be stolen from these plants or from fuel-fabricating plants like those in new haven, san diego; or lynchburg, virginia. (a former kerr-mcgee supervisor, james v. smith, when asked at the silkwood trial if there were any security precautions at the plant to prevent theft, testified that 'there were none of any kind, no guards, no fences, no nothing.') plutonium can be obtained from places like united nuclear in pawling, new york; nuclear fuel services in erwin, tennessee; general electric in pleasanton, california; westinghouse in cheswick, pennsylvania; nuclear materials and equipment corporation (numec) in leechburg, pennsylvania; and plants in hanfford, washington and morris, illinois. according to rolling stone magazine the israelis were involved in the theft of plutonium from numec. finally you can steal enriched uranium or plutonium while it's en-route from conversion plants to fuel fabricating plants. it is usually transported (by air or truck) in the form of uranium oxide, a brownish powder resembling instant coffee, or as a metal, coming in small chunks called 'broken buttons.' both forms are shipped in small cans stacked in 5-inch cylinders braced with welded struts in the center of ordinary 55 gallon steel drums. the drums weigh about 100 pounds and are clearly marked 'fissible material' or 'danger, plutonium.' a typical shipment might go from the enrichment plant at portsmouth, ohio to the conversion plant in hematite missouri then to kansas city by truck where it would be flown to los angeles and then trucked down to the general atomic plant in san diego. the plans for the general atomic plant are on file at the nuclear regulatory commission's reading room at 1717 h street nw washington. a xerox machine is provided for the convenience of the public. if you can't get hold of any enriched uranium you'll have to settle for commercial grade (20 percent u-235). this can be stolen from university reactors of a type called triga mark ii, where security is even more casual than at commercial plants. if stealing uranium seems too tacky you can buy it. unenriched uranium is available at any chemical supply house for $23 a pound. commercial grade (3 to 20 percent enriched) is available for $40 a pound from gulf atomic. you'll have to enrich it further yourself. quite frankly this can be something of a pain in the ass. you'll need to start with a little more than 50 pounds of commercial-grade uranium. (it's only 20 percent u-235 at best, and you need 10 pounds of u-235 so... ) but with a little kitchen-table chemistry you'll be able to convert the solid uranium oxide you've purchased into a liquid form. once you've done that, you'll be able to separate the u-235 that you'll need from the u-238. first pour a few gallons of concentrated hydrofluoric acid into your uranium oxide, converting it to uranium tetrafluoride. (safety note: concentrated hydrofluoric acid is so corrosive that it will eat its way through glass, so store it only in plastic. used 1-gallon plastic milk containers will do.) now you have to convert your uranium tetrafluoride to uranium hexafluoride, the gaseous form of uranium, which is convenient for separating out the isotope u-235 from u-238. to get the hexafluoride form, bubble fluorine gas into your container of uranium tetrafluoride. fluorine is available in pressurized tanks from chemical-supply firms. be careful how you use it though because fluorine is several times more deadly than chlorine, the classic world war i poison gas. chemists recommend that you carry out this step under a stove hood (the kind used to remove unpleasant cooking odors). if you've done your chemistry right you should now have a generous supply of uranium hexafluoride ready for enriching. in the old horse-and-buggy days of a-bomb manufacture the enrichment was carried out by passing the uranium hexafluoride through hundreds of miles of pipes, tubes, and membranes, until the u-235 was eventually separated from the u-238. this gaseous-diffusion process, as it was called is difficult, time-consuming, and expensive. gaseous-diffusion plants cover hundreds of acres and cost in the neighborhood of $2-billion each. so forget it. there are easier, and cheaper, ways to enrich your uranium. first transform the gas into a liquid by subjecting it to pressure. you can use a bicycle pump for this. then make a simple home centrifuge. fill a standard-size bucket one-quarter full of liquid uranium hexafluoride. attach a six-foot rope to the bucket handle. now swing the rope (and attached bucket) around your head as fast as possible. keep this up for about 45 minutes. slow down gradually, and very gently put the bucket on the floor. the u-235, which is lighter, will have risen to the top, where it can be skimmed off like cream. repeat this step until you have the required 10 pounds of uranium. (safety note: don't put all your enriched uranium hexafluoride in one bucket. use at least two or three buckets and keep them in separate corners of the room. this will prevent the premature build-up of a critical mass.) now it's time to convert your enriched uranium back to metal form. this is easily enough accomplished by spooning several ladlefuls of calcium (available in tablet form from your drugstore) into each bucket of uranium. the calcium will react with the uranium hexafluoride to produce calcium fluoride, a colorless salt which can be easily be separated from your pure enriched uranium metal. a few precautions: • while uranium is not dangerously radioactive in the amounts you'll be handling, if you plan to make more than one bomb it might be wise to wear gloves and a lead apron, the kind you can buy in dental supply stores. • plutonium is one of the most toxic substances known. if inhaled, a thousandth of a gram can cause massive fibrosis of the lungs, a painful way to go. even a millionth of a gram in the lungs will cause cancer. if eaten plutonium is metabolized like calcium. it goes straight to the bones where it gives out alpha particles preventing bone marrow from manufacturing red blood cells. the best way to avoid inhaling plutonium is to hold your breath while handling it. if this is too difficult wear a mask. to avoid ingesting plutonium orally follow this simple rule: never make an a-bomb on an empty stomach. • if you find yourself dozing off while you're working, or if you begin to glow in the dark, it might be wise to take a blood count. prick your finger with a sterile pin, place a drop of blood on a microscope slide, cover it with a cover slip, and examine under a microscope. (best results are obtained in the early morning.) when you get leukemia, immature cells are released into the bloodstream, and usually the number of white cells increases (though this increase might take almost 2 weeks). red blood cells look kind of like donuts (without the hole), and are slightly smaller than the white cells, each of which has a nucleus. immature red cells look similar to white cells (i.e.. slightly larger and have a nucleus). if you have more than about 1 white cell (including immature ones) to 400 red cells then start to worry. but, depending upon your plans for the eventual use of the bomb, a short life expectancy might not be a problem.  step 2: assembling the a-bomb now that you've acquired the enriched uranium, all that's left is to assemble your a-bomb. go find a couple of stainless steel salad bowls. you also want to separate your 10 pounds of u-235 into two hunks. (keep them apart!) the idea is to push each half your uranium into the inside of a bowl. take one hunk of your uranium and beat it into the inside of the first bowl. uranium is malleable, like gold, so you should have no trouble hammering it into the bowl to get a good fit. take another five-pound hunk of uranium and fit it into a second stainless steel bowl. these two bowls of u-235 are the 'subcritical masses' which, when brought together forcefully, will provide the critical mass that makes your a-bomb go. keep them a respectful distance apart while working because you don't want them to 'go critical' on you... at least not yet. now hollow out the body of an old vacuum cleaner and place your two hemispherical bowls inside, open ends facing each other, no less than seven inches apart, using masking tape to set them up in position. the reason for the steel bowls and the vacuum cleaner, in case you're wondering, is that these help reflect the neutrons back into the uranium for a more efficient explosion. 'a loose neutron is a useless neutron' as the a-bomb pioneers used to say. as far as the a-bomb goes, you're almost done. the final problem is to figure out how to get the two u-235 hemispheres to smash into each other with sufficient force to set off a truly effective fission reaction. almost any type of explosive can be used to drive them together. gunpowder, for example, is easily made at home from potassium nitrate, sulfur, and carbon. or, you can get some blasting caps or tnt. (buy them or steal them from a construction site.) best of all is c4 plastic explosive. you can mold it around your bowls, and it's fairly safe to work with. (but, it might be wise to shape it around an extra salad bowl in another room, and then fit it to your uranium-packed bowls. this is particularly true in winter, when a stray static electrical charge might induce ignition in the c4. a responsible bomb maker considers it impolite to accidentally destroy more of the neighborhood than absolutely necessary.) once the explosives are in place all you need to do is hook up a simple detonation device with a few batteries, a switch, and some wire. remember though that it is essential that the two charges -- one on each side of the casing -- go off simultaneously. now put the whole thing in the casing of an old hoover vacuum cleaner and you're finished with this part of the process. the rest is easy.  step 3: make more a-bombs following the directions above  a word to the wise about wastes after your a-bomb is completed you'll have a pile of moderately fatal radioactive wastes like u-238. these are not dangerous, but you do have to get rid of them. you can flush leftovers down the toilet. (don't worry about polluting the ocean, there is already so much radioactive waste there, a few more bucketfuls won't make any waves whatsoever.) if you're the fastidious type -- the kind who never leaves gum under their seat at the movies -- you can seal the nasty stuff in coffee cans and bury it in the backyard, just like uncle sam does. if the neighbor kids have a habit of trampling the lawn, tell them to play over by the waste. you'll soon find that they're spending most of their time in bed.  going first class if you're like us, you're feeling the economic pinch, and you'll want to make your bomb as inexpensively as possible, consonant of course with reasonable yield. the recipe we've given is for a budget-pleasing h-bomb, no frills, no flourishes; it's just a simple 5-megaton bomb, capable of wiping out the new york metropolitan area, the san francisco bay area, or boston. but don't forget, your h-bomb will only be as good as the a-bombs in it. if you want to spend a little more money you can punch-up your a-bomb considerably. instead of centrifuging your uranium by hand, you can buy a commercial centrifuge. (fisher scientific sells one for about $1000.) you also might want to be fussier about your design. the hiroshima bomb, a relatively crude one, only fissioned 1 percent of it's uranium and yielded only 13 kilotons. in order to fission more of the uranium, the force of your explosive 'trigger' needs to be evenly diffused around the sphere; the same pressure has to be exerted on every point of the sphere simultaneously. (it was a technique for producing this sort of simultaneous detonation by fashioning the explosives into lenses that the government accused julius and ethel rosenberg of trying to steal).  part 2: putting your h-bomb together the heart of the h-bomb is the fusion process. several a-bombs are detonated in such a way as to create the extremely high temperature (100 million degrees c) necessary to fuse lithium deuteride (lid) into helium. when the lithium nucleus slams into the deuterium nucleus, two helium nuclei are created, and if this happens to enough deuterium nuclei rapidly enough, the result is an enormous amount of energy: the energy of the h-bomb. you don't have to worry about stealing lithium deuteride, it can be purchased from any chemical-supply house. it costs $1000 a pound. if your budget won't allow it you can substitute lithium hydride at $40 a pound. you will need at least 100 pounds. it's a corrosive and toxic powder so be careful. place the lithium deuteride or hydride in glass jars and surround it with four a-bombs in their casings. attach them to the same detonator so that they will go off simultaneously. the container for the whole thing is no problem. they can be placed anywhere: inside an old stereo console, a discarded refrigerator, etc... when the detonator sets off the four a-bombs all eight hemispheres of fissionable material will slam into each other at the same time creating four critical masses and four detonations. this will raise the temperature of the lithium deuteride to 100 million degrees c fast enough (a few billionths of a second) so that the lithium will not be blown all over the neighborhood before the nuclei have time to fuse. the result, at least 1000 times the punch of the puny a-bomb that leveled hiroshima (20 million tons of tnt vs. 20 thousand tons.)  part 3: what to do with your bomb now that you have a fully assembled h-bomb housed in an attractive console of your choice you may be wondering, 'what should i do with it?' every family will have to answer this question according to its own tastes and preferences, but you may want to explore some possibilities which have been successfully pioneered by the american government. 1. sell your bomb and make a pile of money in these days of rising inflation, increasing unemployment, and an uncertain economic outlook, few businesses make as much sense as weapons production. if your career forecast is cloudy, bomb sales may be the only sure way to avoid the humiliation of receiving welfare, or unemployment. regardless of your present income level, a home h-bomb business can be an invaluable income supplement, and certainly a profitable alternative to selling tupperware or pirated girl scout cookies. unfortunately for the family bomb business, big government has already cornered a large part of the world market. but this does not mean that there is a shortage of potential customers. the raid on entebee was the waterloo of hijacking, and many nationalist groups are now on the alert for new means to get their message across. they'd jump at the chance to get hold of an h-bomb. emerging nations which can't ante up e

In [382]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [0]:
# Import stopwords with nltk.
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [384]:
# Exclude stopwords with Python's list comprehension and pandas.DataFrame.apply.
df_subset['text_without_stopwords'] = df_subset['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [385]:
df_subset.text_without_stopwords[1]

'team members: drewes van der laag urllink mail ruiyu xie urllink mail bryan aaldering (me) urllink mail'

In [0]:
import string, os
#removal of punctuations and lower casing all the word
def clean_text(txt):
    txt = "".join(v for v in txt if v not in string.punctuation).lower()
    txt = "".join(v for v in txt if not v.isdigit())
    txt = txt.encode("utf8").decode("ascii",'ignore')
    return txt 


corpus = [clean_text(x) for x in df_subset.text_without_stopwords]

In [387]:
corpus[2]

'het kader van kernfusie op aarde maak je eigen waterstofbom build hbomb from ascotttartarusuwaeduau andrew scott newsgroups rechumor subject build hbomb humorous date  feb   gmt organization university western australia original file dated th november  seemed transcript seven days article poorly formatted corrupted added text examine microscope malleable like gold missing anyone full text please distribute responsible accuracy information converted html dionisioinfinetcom  did little spellchecking minor edits too stolen urllink httpmyohiovoyagernetdionisiofunmownhbombhtml reformatted html validates xhtml  strict build hbomb making owning hbomb kind challenge real americans seek wants passive victim nuclear war when little effort active participant bomb shelters losers wants huddle together underground eating canned spam winners want push button themselves making hbomb big step nuclear assertiveness training  called taking charge were sure enjoy risks heady thrill playing nuclear chicken introduction feds clamped progressive magazine attempting publish article manufacture hydrogen bomb piqued curiosity really true atomic hydrogen bomb technology simple could build hbomb kitchen seven days decided find out food editor barbara ehrenreich investigative reporter peter biskind photographer jane melnick nuclear scientist michio kaku given three days cook workable hbomb decided share culinary secrets you seven days supports nuclear terrorism dont would prefer die slowly familiar poisons like lowlevel radiation microwaves ddt dbcp aflatoxins pbbs pbcs food dyes rather unexpectedly say hostage latvian nationalist brandishing homemade bomb view real terrorists governments american soviet french chinese british hoarding hbombs use worse still governments us french german eagerly peddling advanced nuclear technology countries like south africa brazil argentina make bombs bombs used be worlds bigtime nuclear peddlers along corporate suppliers like general electric westinghouse gulf oil thank it gagging progressive national security backyard bomb shelters like news out heart successful hbomb successful abomb got abombs made rest frosting cake set detonate theyll start hydrogenfusion reaction part  making bomb step  getting ingredients uranium basic ingredient abomb uranium atoms nucleus splits apart releases tremendous amount energy for size emits neutrons go split nearby uranium nuclei releasing energy called chain reaction when atoms split matter converted energy according einsteins equation emc better way mark birthday atomic fireworks two kinds isotopes uranium rare u used bombs common heavier useless u natural uranium contains less  percent u order usable bombs enriched  percent u  percent u plutonium also used bombs substitute u ten pounds u or slightly less plutonium necessary bomb less ten pounds give critical mass purifying enriching naturally occurring uranium likely first big hurdle infinitely easy steal readytouse enriched uranium plutonium enrich yourself stealing uranium hard sounds least three sources enriched uranium plutonium enriched uranium manufactured gaseous diffusion plant portsmouth ohio shipped  liter bottles airplane trucks conversion plants turn uranium oxide uranium metal  liter bottle contains  kilograms u  bottles typical shipment conversion facilities exist hematite missouri apollo pennsylvania erwin tennessee kerrmcgee plant crescent oklahoma  karen silkwood worked  conversion plant lost  lbs plutonium enriched uranium stolen plants fuelfabricating plants like new haven san diego lynchburg virginia a former kerrmcgee supervisor james v smith asked silkwood trial security precautions plant prevent theft testified there none kind guards fences nothing plutonium obtained places like united nuclear pawling new york nuclear fuel services erwin tennessee general electric pleasanton california westinghouse cheswick pennsylvania nuclear materials equipment corporation numec leechburg pennsylvania plants hanfford washington morris illinois according rolling stone magazine israelis involved theft plutonium numec finally steal enriched uranium plutonium enroute conversion plants fuel fabricating plants usually transported by air truck form uranium oxide brownish powder resembling instant coffee metal coming small chunks called broken buttons forms shipped small cans stacked inch cylinders braced welded struts center ordinary  gallon steel drums drums weigh  pounds clearly marked fissible material danger plutonium typical shipment might go enrichment plant portsmouth ohio conversion plant hematite missouri kansas city truck would flown los angeles trucked general atomic plant san diego plans general atomic plant file nuclear regulatory commissions reading room  h street nw washington xerox machine provided convenience public cant get hold enriched uranium settle commercial grade  percent u stolen university reactors type called triga mark ii security even casual commercial plants stealing uranium seems tacky buy it unenriched uranium available chemical supply house  pound commercial grade   percent enriched available  pound gulf atomic enrich yourself quite frankly something pain ass need start little  pounds commercialgrade uranium its  percent u best need  pounds u so  little kitchentable chemistry able convert solid uranium oxide purchased liquid form done that able separate u need u first pour gallons concentrated hydrofluoric acid uranium oxide converting uranium tetrafluoride safety note concentrated hydrofluoric acid corrosive eat way glass store plastic used gallon plastic milk containers do convert uranium tetrafluoride uranium hexafluoride gaseous form uranium convenient separating isotope u u get hexafluoride form bubble fluorine gas container uranium tetrafluoride fluorine available pressurized tanks chemicalsupply firms careful use though fluorine several times deadly chlorine classic world war poison gas chemists recommend carry step stove hood the kind used remove unpleasant cooking odors done chemistry right generous supply uranium hexafluoride ready enriching old horseandbuggy days abomb manufacture enrichment carried passing uranium hexafluoride hundreds miles pipes tubes membranes u eventually separated u gaseousdiffusion process called difficult timeconsuming expensive gaseousdiffusion plants cover hundreds acres cost neighborhood billion each forget it easier cheaper ways enrich uranium first transform gas liquid subjecting pressure use bicycle pump this make simple home centrifuge fill standardsize bucket onequarter full liquid uranium hexafluoride attach sixfoot rope bucket handle swing rope and attached bucket around head fast possible keep  minutes slow gradually gently put bucket floor u lighter risen top skimmed like cream repeat step required  pounds uranium safety note put enriched uranium hexafluoride one bucket use least two three buckets keep separate corners room prevent premature buildup critical mass time convert enriched uranium back metal form easily enough accomplished spooning several ladlefuls calcium available tablet form drugstore bucket uranium calcium react uranium hexafluoride produce calcium fluoride colorless salt easily separated pure enriched uranium metal precautions  uranium dangerously radioactive amounts handling plan make one bomb might wise wear gloves lead apron kind buy dental supply stores  plutonium one toxic substances known inhaled thousandth gram cause massive fibrosis lungs painful way go even millionth gram lungs cause cancer eaten plutonium metabolized like calcium goes straight bones gives alpha particles preventing bone marrow manufacturing red blood cells best way avoid inhaling plutonium hold breath handling it difficult wear mask avoid ingesting plutonium orally follow simple rule never make abomb empty stomach  find dozing working begin glow dark might wise take blood count prick finger sterile pin place drop blood microscope slide cover cover slip examine microscope best results obtained early morning get leukemia immature cells released bloodstream usually number white cells increases though increase might take almost  weeks red blood cells look kind like donuts without hole slightly smaller white cells nucleus immature red cells look similar white cells ie slightly larger nucleus  white cell including immature ones  red cells start worry but depending upon plans eventual use bomb short life expectancy might problem step  assembling abomb acquired enriched uranium thats left assemble abomb go find couple stainless steel salad bowls also want separate  pounds u two hunks keep apart idea push half uranium inside bowl take one hunk uranium beat inside first bowl uranium malleable like gold trouble hammering bowl get good fit take another fivepound hunk uranium fit second stainless steel bowl two bowls u subcritical masses which brought together forcefully provide critical mass makes abomb go keep respectful distance apart working want go critical you least yet hollow body old vacuum cleaner place two hemispherical bowls inside open ends facing other less seven inches apart using masking tape set position reason steel bowls vacuum cleaner case wondering help reflect neutrons back uranium efficient explosion a loose neutron useless neutron abomb pioneers used say far abomb goes almost done final problem figure get two u hemispheres smash sufficient force set truly effective fission reaction almost type explosive used drive together gunpowder example easily made home potassium nitrate sulfur carbon or get blasting caps tnt buy steal construction site best c plastic explosive mold around bowls fairly safe work with but might wise shape around extra salad bowl another room fit uraniumpacked bowls particularly true winter stray static electrical charge might induce ignition c responsible bomb maker considers impolite accidentally destroy neighborhood absolutely necessary explosives place need hook simple detonation device batteries switch wire remember though essential two charges  one side casing  go simultaneously put whole thing casing old hoover vacuum cleaner finished part process rest easy step  make abombs following directions word wise wastes abomb completed pile moderately fatal radioactive wastes like u dangerous get rid them flush leftovers toilet dont worry polluting ocean already much radioactive waste there bucketfuls make waves whatsoever fastidious type  kind never leaves gum seat movies  seal nasty stuff coffee cans bury backyard like uncle sam does neighbor kids habit trampling lawn tell play waste soon find theyre spending time bed going first class like us feeling economic pinch want make bomb inexpensively possible consonant course reasonable yield recipe weve given budgetpleasing hbomb frills flourishes simple megaton bomb capable wiping new york metropolitan area san francisco bay area boston forget hbomb good abombs it want spend little money punchup abomb considerably instead centrifuging uranium hand buy commercial centrifuge fisher scientific sells one  also might want fussier design hiroshima bomb relatively crude one fissioned  percent uranium yielded  kilotons order fission uranium force explosive trigger needs evenly diffused around sphere pressure exerted every point sphere simultaneously it technique producing sort simultaneous detonation fashioning explosives lenses government accused julius ethel rosenberg trying steal part  putting hbomb together heart hbomb fusion process several abombs detonated way create extremely high temperature  million degrees c necessary fuse lithium deuteride lid helium lithium nucleus slams deuterium nucleus two helium nuclei created happens enough deuterium nuclei rapidly enough result enormous amount energy energy hbomb worry stealing lithium deuteride purchased chemicalsupply house costs  pound budget allow substitute lithium hydride  pound need least  pounds corrosive toxic powder careful place lithium deuteride hydride glass jars surround four abombs casings attach detonator go simultaneously container whole thing problem placed anywhere inside old stereo console discarded refrigerator etc detonator sets four abombs eight hemispheres fissionable material slam time creating four critical masses four detonations raise temperature lithium deuteride  million degrees c fast enough a billionths second lithium blown neighborhood nuclei time fuse result least  times punch puny abomb leveled hiroshima  million tons tnt vs  thousand tons part  bomb fully assembled hbomb housed attractive console choice may wondering what it every family answer question according tastes preferences may want explore possibilities successfully pioneered american government  sell bomb make pile money days rising inflation increasing unemployment uncertain economic outlook businesses make much sense weapons production career forecast cloudy bomb sales may sure way avoid humiliation receiving welfare unemployment regardless present income level home hbomb business invaluable income supplement certainly profitable alternative selling tupperware pirated girl scout cookies unfortunately family bomb business big government already cornered large part world market mean shortage potential customers raid entebee waterloo hijacking many nationalist groups alert new means get message across theyd jump chance get hold hbomb emerging nations cant ante enough rice sugar buy reactor ge westinghouse also shopping around may wonder ethics selling nations groups whose goals may disapprove of again take tip government forget ideology  cash counts remember hbomb sales way escalating almost like chain reaction suppose make sale south yemen believe soviet puppet well within days discrete inquiries north yemen possibly saudis egyptians ethiopians well expected similarly sale ira generate sale ulster government sale tanzanians bring ugandans running forth matter side on many sides are forget possibility repeat sales customer experience us ussr shown individual nation potentially infinite need hbombs customer  matter small  ever many  use bomb home many families attracted hbomb simply deterrent discrete sticker door living room window saying this home protected hbomb discourage irs investigators census takers jehovahs witnesses surprised fast crime rate go property values go up news gets home hbomb owner find unexpected leverage neighborhood disputes everything parking places stereo noise levels school tax rates relax enjoy pride excitement home hbomb ownership you lets honest hbomb everyone frankly people cant handle it break hives mention megadeath fallout radiation sickness following quiz help find whether takes home hbomb ownership answer yes six questions emotionally eligible join nuclear club not conventional weapon may cup tea try botulismtoxin laser rays nerve gas  ignore demands others  subscribe one following soldier fortune hustler popular mechanics self  though many interesting acquaintances best friend  know say say hello seldom interested pursuing conversation  seen movie the deer hunter once  know everyone winner want to resent whiners  one following handgun video game trash compactor snowmobile  convinced leukemia psychosomatic  aware vegetarians sexually impotent  read evidence solar energy communist conspiracy myths nuclear war ever since first mushroom cloud hiroshima ushered atomic age small group naysayers doommongers lobbied campaigned demonstrated convince americans hbomb ownership along nuclear power dangerous unhealthy using virtual stranglehold media people tried discredit everything nuclear energy war vastly overrated risks nuclear bombs left many americans feeling demoralized indecisive sure truth lies well myths facts myth nuclear exchange earth longer suitable human habitation fact completely false according one scientist quoted john mcpees curve binding energy the largest bomb ever exploded anywhere  megatons onethousandth force earthquake onethousandth force hurricane lived earthquakes hurricanes long time another scientist adds it often assumed full blown nuclear war would end life earth far truth end life earth would take least thousand times total yield nuclear explosives existing world probably lot more even humans succumbed many forms life would survive nuclear freeforall cockroaches certain forms bacteria lichens instance myth radiation bad you fact everything bad much it eat many bananas get stomachache get much sun get sunburned or even skin cancer thing radiation much may make feel weather nuclear industry officials insist evidence lowlevel radiation really serious adverse effects and highlevel radiation may bring unexpected benefits speeds evolution weeding unwanted genetic types creating new ones remember old saying two heads better one nearer home plain radiation get rid pesky crab grass weeds teenagers find brief exposure nuclear burst vaporizes acne skin blemishes many survivors hiroshima bomb found free skin attendant problems forever hope clears misconceptions may had enjoy hbomb'

In [388]:
type(corpus)

list

In [389]:
corpus[:5]

['info found   pages  mb pdf files wait untill team leader processed learns html',
 'team members drewes van der laag urllink mail ruiyu xie urllink mail bryan aaldering me urllink mail',
 'het kader van kernfusie op aarde maak je eigen waterstofbom build hbomb from ascotttartarusuwaeduau andrew scott newsgroups rechumor subject build hbomb humorous date  feb   gmt organization university western australia original file dated th november  seemed transcript seven days article poorly formatted corrupted added text examine microscope malleable like gold missing anyone full text please distribute responsible accuracy information converted html dionisioinfinetcom  did little spellchecking minor edits too stolen urllink httpmyohiovoyagernetdionisiofunmownhbombhtml reformatted html validates xhtml  strict build hbomb making owning hbomb kind challenge real americans seek wants passive victim nuclear war when little effort active participant bomb shelters losers wants huddle together underground eating canned spam winners want push button themselves making hbomb big step nuclear assertiveness training  called taking charge were sure enjoy risks heady thrill playing nuclear chicken introduction feds clamped progressive magazine attempting publish article manufacture hydrogen bomb piqued curiosity really true atomic hydrogen bomb technology simple could build hbomb kitchen seven days decided find out food editor barbara ehrenreich investigative reporter peter biskind photographer jane melnick nuclear scientist michio kaku given three days cook workable hbomb decided share culinary secrets you seven days supports nuclear terrorism dont would prefer die slowly familiar poisons like lowlevel radiation microwaves ddt dbcp aflatoxins pbbs pbcs food dyes rather unexpectedly say hostage latvian nationalist brandishing homemade bomb view real terrorists governments american soviet french chinese british hoarding hbombs use worse still governments us french german eagerly peddling advanced nuclear technology countries like south africa brazil argentina make bombs bombs used be worlds bigtime nuclear peddlers along corporate suppliers like general electric westinghouse gulf oil thank it gagging progressive national security backyard bomb shelters like news out heart successful hbomb successful abomb got abombs made rest frosting cake set detonate theyll start hydrogenfusion reaction part  making bomb step  getting ingredients uranium basic ingredient abomb uranium atoms nucleus splits apart releases tremendous amount energy for size emits neutrons go split nearby uranium nuclei releasing energy called chain reaction when atoms split matter converted energy according einsteins equation emc better way mark birthday atomic fireworks two kinds isotopes uranium rare u used bombs common heavier useless u natural uranium contains less  percent u order usable bombs enriched  percent u  percent u plutonium also used bombs substitute u ten pounds u or slightly less plutonium necessary bomb less ten pounds give critical mass purifying enriching naturally occurring uranium likely first big hurdle infinitely easy steal readytouse enriched uranium plutonium enrich yourself stealing uranium hard sounds least three sources enriched uranium plutonium enriched uranium manufactured gaseous diffusion plant portsmouth ohio shipped  liter bottles airplane trucks conversion plants turn uranium oxide uranium metal  liter bottle contains  kilograms u  bottles typical shipment conversion facilities exist hematite missouri apollo pennsylvania erwin tennessee kerrmcgee plant crescent oklahoma  karen silkwood worked  conversion plant lost  lbs plutonium enriched uranium stolen plants fuelfabricating plants like new haven san diego lynchburg virginia a former kerrmcgee supervisor james v smith asked silkwood trial security precautions plant prevent theft testified there none kind guards fences nothing plutonium obtained places like united nuclear pawling new york nuclear fuel services erwin tennessee general electric pleasanton california westinghouse cheswick pennsylvania nuclear materials equipment corporation numec leechburg pennsylvania plants hanfford washington morris illinois according rolling stone magazine israelis involved theft plutonium numec finally steal enriched uranium plutonium enroute conversion plants fuel fabricating plants usually transported by air truck form uranium oxide brownish powder resembling instant coffee metal coming small chunks called broken buttons forms shipped small cans stacked inch cylinders braced welded struts center ordinary  gallon steel drums drums weigh  pounds clearly marked fissible material danger plutonium typical shipment might go enrichment plant portsmouth ohio conversion plant hematite missouri kansas city truck would flown los angeles trucked general atomic plant san diego plans general atomic plant file nuclear regulatory commissions reading room  h street nw washington xerox machine provided convenience public cant get hold enriched uranium settle commercial grade  percent u stolen university reactors type called triga mark ii security even casual commercial plants stealing uranium seems tacky buy it unenriched uranium available chemical supply house  pound commercial grade   percent enriched available  pound gulf atomic enrich yourself quite frankly something pain ass need start little  pounds commercialgrade uranium its  percent u best need  pounds u so  little kitchentable chemistry able convert solid uranium oxide purchased liquid form done that able separate u need u first pour gallons concentrated hydrofluoric acid uranium oxide converting uranium tetrafluoride safety note concentrated hydrofluoric acid corrosive eat way glass store plastic used gallon plastic milk containers do convert uranium tetrafluoride uranium hexafluoride gaseous form uranium convenient separating isotope u u get hexafluoride form bubble fluorine gas container uranium tetrafluoride fluorine available pressurized tanks chemicalsupply firms careful use though fluorine several times deadly chlorine classic world war poison gas chemists recommend carry step stove hood the kind used remove unpleasant cooking odors done chemistry right generous supply uranium hexafluoride ready enriching old horseandbuggy days abomb manufacture enrichment carried passing uranium hexafluoride hundreds miles pipes tubes membranes u eventually separated u gaseousdiffusion process called difficult timeconsuming expensive gaseousdiffusion plants cover hundreds acres cost neighborhood billion each forget it easier cheaper ways enrich uranium first transform gas liquid subjecting pressure use bicycle pump this make simple home centrifuge fill standardsize bucket onequarter full liquid uranium hexafluoride attach sixfoot rope bucket handle swing rope and attached bucket around head fast possible keep  minutes slow gradually gently put bucket floor u lighter risen top skimmed like cream repeat step required  pounds uranium safety note put enriched uranium hexafluoride one bucket use least two three buckets keep separate corners room prevent premature buildup critical mass time convert enriched uranium back metal form easily enough accomplished spooning several ladlefuls calcium available tablet form drugstore bucket uranium calcium react uranium hexafluoride produce calcium fluoride colorless salt easily separated pure enriched uranium metal precautions  uranium dangerously radioactive amounts handling plan make one bomb might wise wear gloves lead apron kind buy dental supply stores  plutonium one toxic substances known inhaled thousandth gram cause massive fibrosis lungs painful way go even millionth gram lungs cause cancer eaten plutonium metabolized like calcium goes straight bones gives alpha particles preventing bone marrow manufacturing red blood cells best way avoid inhaling plutonium hold breath handling it difficult wear mask avoid ingesting plutonium orally follow simple rule never make abomb empty stomach  find dozing working begin glow dark might wise take blood count prick finger sterile pin place drop blood microscope slide cover cover slip examine microscope best results obtained early morning get leukemia immature cells released bloodstream usually number white cells increases though increase might take almost  weeks red blood cells look kind like donuts without hole slightly smaller white cells nucleus immature red cells look similar white cells ie slightly larger nucleus  white cell including immature ones  red cells start worry but depending upon plans eventual use bomb short life expectancy might problem step  assembling abomb acquired enriched uranium thats left assemble abomb go find couple stainless steel salad bowls also want separate  pounds u two hunks keep apart idea push half uranium inside bowl take one hunk uranium beat inside first bowl uranium malleable like gold trouble hammering bowl get good fit take another fivepound hunk uranium fit second stainless steel bowl two bowls u subcritical masses which brought together forcefully provide critical mass makes abomb go keep respectful distance apart working want go critical you least yet hollow body old vacuum cleaner place two hemispherical bowls inside open ends facing other less seven inches apart using masking tape set position reason steel bowls vacuum cleaner case wondering help reflect neutrons back uranium efficient explosion a loose neutron useless neutron abomb pioneers used say far abomb goes almost done final problem figure get two u hemispheres smash sufficient force set truly effective fission reaction almost type explosive used drive together gunpowder example easily made home potassium nitrate sulfur carbon or get blasting caps tnt buy steal construction site best c plastic explosive mold around bowls fairly safe work with but might wise shape around extra salad bowl another room fit uraniumpacked bowls particularly true winter stray static electrical charge might induce ignition c responsible bomb maker considers impolite accidentally destroy neighborhood absolutely necessary explosives place need hook simple detonation device batteries switch wire remember though essential two charges  one side casing  go simultaneously put whole thing casing old hoover vacuum cleaner finished part process rest easy step  make abombs following directions word wise wastes abomb completed pile moderately fatal radioactive wastes like u dangerous get rid them flush leftovers toilet dont worry polluting ocean already much radioactive waste there bucketfuls make waves whatsoever fastidious type  kind never leaves gum seat movies  seal nasty stuff coffee cans bury backyard like uncle sam does neighbor kids habit trampling lawn tell play waste soon find theyre spending time bed going first class like us feeling economic pinch want make bomb inexpensively possible consonant course reasonable yield recipe weve given budgetpleasing hbomb frills flourishes simple megaton bomb capable wiping new york metropolitan area san francisco bay area boston forget hbomb good abombs it want spend little money punchup abomb considerably instead centrifuging uranium hand buy commercial centrifuge fisher scientific sells one  also might want fussier design hiroshima bomb relatively crude one fissioned  percent uranium yielded  kilotons order fission uranium force explosive trigger needs evenly diffused around sphere pressure exerted every point sphere simultaneously it technique producing sort simultaneous detonation fashioning explosives lenses government accused julius ethel rosenberg trying steal part  putting hbomb together heart hbomb fusion process several abombs detonated way create extremely high temperature  million degrees c necessary fuse lithium deuteride lid helium lithium nucleus slams deuterium nucleus two helium nuclei created happens enough deuterium nuclei rapidly enough result enormous amount energy energy hbomb worry stealing lithium deuteride purchased chemicalsupply house costs  pound budget allow substitute lithium hydride  pound need least  pounds corrosive toxic powder careful place lithium deuteride hydride glass jars surround four abombs casings attach detonator go simultaneously container whole thing problem placed anywhere inside old stereo console discarded refrigerator etc detonator sets four abombs eight hemispheres fissionable material slam time creating four critical masses four detonations raise temperature lithium deuteride  million degrees c fast enough a billionths second lithium blown neighborhood nuclei time fuse result least  times punch puny abomb leveled hiroshima  million tons tnt vs  thousand tons part  bomb fully assembled hbomb housed attractive console choice may wondering what it every family answer question according tastes preferences may want explore possibilities successfully pioneered american government  sell bomb make pile money days rising inflation increasing unemployment uncertain economic outlook businesses make much sense weapons production career forecast cloudy bomb sales may sure way avoid humiliation receiving welfare unemployment regardless present income level home hbomb business invaluable income supplement certainly profitable alternative selling tupperware pirated girl scout cookies unfortunately family bomb business big government already cornered large part world market mean shortage potential customers raid entebee waterloo hijacking many nationalist groups alert new means get message across theyd jump chance get hold hbomb emerging nations cant ante enough rice sugar buy reactor ge westinghouse also shopping around may wonder ethics selling nations groups whose goals may disapprove of again take tip government forget ideology  cash counts remember hbomb sales way escalating almost like chain reaction suppose make sale south yemen believe soviet puppet well within days discrete inquiries north yemen possibly saudis egyptians ethiopians well expected similarly sale ira generate sale ulster government sale tanzanians bring ugandans running forth matter side on many sides are forget possibility repeat sales customer experience us ussr shown individual nation potentially infinite need hbombs customer  matter small  ever many  use bomb home many families attracted hbomb simply deterrent discrete sticker door living room window saying this home protected hbomb discourage irs investigators census takers jehovahs witnesses surprised fast crime rate go property values go up news gets home hbomb owner find unexpected leverage neighborhood disputes everything parking places stereo noise levels school tax rates relax enjoy pride excitement home hbomb ownership you lets honest hbomb everyone frankly people cant handle it break hives mention megadeath fallout radiation sickness following quiz help find whether takes home hbomb ownership answer yes six questions emotionally eligible join nuclear club not conventional weapon may cup tea try botulismtoxin laser rays nerve gas  ignore demands others  subscribe one following soldier fortune hustler popular mechanics self  though many interesting acquaintances best friend  know say say hello seldom interested pursuing conversation  seen movie the deer hunter once  know everyone winner want to resent whiners  one following handgun video game trash compactor snowmobile  convinced leukemia psychosomatic  aware vegetarians sexually impotent  read evidence solar energy communist conspiracy myths nuclear war ever since first mushroom cloud hiroshima ushered atomic age small group naysayers doommongers lobbied campaigned demonstrated convince americans hbomb ownership along nuclear power dangerous unhealthy using virtual stranglehold media people tried discredit everything nuclear energy war vastly overrated risks nuclear bombs left many americans feeling demoralized indecisive sure truth lies well myths facts myth nuclear exchange earth longer suitable human habitation fact completely false according one scientist quoted john mcpees curve binding energy the largest bomb ever exploded anywhere  megatons onethousandth force earthquake onethousandth force hurricane lived earthquakes hurricanes long time another scientist adds it often assumed full blown nuclear war would end life earth far truth end life earth would take least thousand times total yield nuclear explosives existing world probably lot more even humans succumbed many forms life would survive nuclear freeforall cockroaches certain forms bacteria lichens instance myth radiation bad you fact everything bad much it eat many bananas get stomachache get much sun get sunburned or even skin cancer thing radiation much may make feel weather nuclear industry officials insist evidence lowlevel radiation really serious adverse effects and highlevel radiation may bring unexpected benefits speeds evolution weeding unwanted genetic types creating new ones remember old saying two heads better one nearer home plain radiation get rid pesky crab grass weeds teenagers find brief exposure nuclear burst vaporizes acne skin blemishes many survivors hiroshima bomb found free skin attendant problems forever hope clears misconceptions may had enjoy hbomb',
 'testing testing',
 'thanks yahoos toolbar capture urls popupswhich means show cool links korean pop kpop audio video without need relate instructions like go site click popaudio button choose so without ado link hour kpop urllink audio urllink video streaming enjoy']

In [390]:
df_subset['processed_text'] = corpus

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [391]:
df_subset.head()

        id  ...                                     processed_text
0  2059027  ...  info found   pages  mb pdf files wait untill t...
1  2059027  ...  team members drewes van der laag urllink mail ...
2  2059027  ...  het kader van kernfusie op aarde maak je eigen...
3  2059027  ...                                    testing testing
4  3581210  ...  thanks yahoos toolbar capture urls popupswhich...

[5 rows x 9 columns]

3. As we want to make this into a multi-label classification problem, you are required to merge all the label columns together, so that we have all the labels together for a particular sentence(7.5 points)

  a. Label columns to merge: “gender”, “age”, “topic”, “sign”

  b. After completing the previous step, there should be only two columns in your dataframe i.e. “text” and “labels” as shown in the below image

In [392]:
df_subset['labels1'] = df_subset['gender'] + df_subset['age'].astype(str) + df_subset['topic'] + df_subset['sign']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [393]:
df_subset['labels'] = (df_subset[['gender','age','topic','sign']].astype(str)).values.tolist()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [394]:
df_subset.head()

        id  ...                                   labels
0  2059027  ...                 [male, 15, Student, Leo]
1  2059027  ...                 [male, 15, Student, Leo]
2  2059027  ...                 [male, 15, Student, Leo]
3  2059027  ...                 [male, 15, Student, Leo]
4  3581210  ...  [male, 33, InvestmentBanking, Aquarius]

[5 rows x 11 columns]

In [395]:
df_subset['labels1'] = df_subset['labels1'].str.lower()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [396]:
df_subset['labels1']

0                      male15studentleo
1                      male15studentleo
2                      male15studentleo
3                      male15studentleo
4       male33investmentbankingaquarius
                     ...
9995               female25indunkpisces
9996               female25indunkpisces
9997               female25indunkpisces
9998               female25indunkpisces
9999               female25indunkpisces
Name: labels1, Length: 10000, dtype: object

In [0]:
df1 = df_subset[['processed_text' , 'labels']]

In [398]:
df1.rename(columns ={'processed_text' : 'text'},inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [399]:
df1.head()

                                                text                                   labels
0  info found   pages  mb pdf files wait untill t...                 [male, 15, Student, Leo]
1  team members drewes van der laag urllink mail ...                 [male, 15, Student, Leo]
2  het kader van kernfusie op aarde maak je eigen...                 [male, 15, Student, Leo]
3                                    testing testing                 [male, 15, Student, Leo]
4  thanks yahoos toolbar capture urls popupswhich...  [male, 33, InvestmentBanking, Aquarius]

4. Separate features and labels, and split the data into training and testing (5 points)

In [0]:
X = df1['text']
y = df1['labels']

In [0]:
# split the new DataFrame into training and testing sets [Default test size = 25%]
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [402]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(7500,)
(2500,)
(7500,)
(2500,)

5. Vectorize the features (5 points)

  a. Create a Bag of Words using count vectorizer

        i. Use ngram_range=(1, 2)

        ii. Vectorize training and testing features

  b. Print the term-document matrix

In [0]:
from sklearn.feature_extraction.text import CountVectorizer
# include 1-grams and 2-grams
vect = CountVectorizer(ngram_range=(1, 2),lowercase=True)

In [0]:
x_train_dtm = vect.fit_transform(x_train)

In [405]:
# rows are documents, columns are terms
x_train_dtm.shape

(7500, 549824)

In [0]:
x_test_dtm = vect.transform(x_test)

In [407]:
x_train_dtm

<7500x549824 sparse matrix of type '<class 'numpy.int64'>'
	with 1161622 stored elements in Compressed Sparse Row format>

In [408]:
print(x_train_dtm)

  (0, 524906)	1
  (0, 160465)	1
  (0, 191109)	1
  (0, 25768)	1
  (0, 434501)	1
  (0, 426820)	1
  (0, 475806)	1
  (0, 275899)	1
  (0, 45180)	1
  (0, 473147)	1
  (0, 14258)	1
  (0, 397857)	1
  (0, 228765)	1
  (0, 225817)	1
  (0, 62148)	1
  (0, 394790)	1
  (0, 325280)	1
  (0, 66899)	1
  (0, 541389)	1
  (0, 304839)	1
  (0, 257403)	1
  (0, 279684)	1
  (0, 543981)	1
  (0, 532945)	1
  (0, 525195)	1
  :	:
  (7498, 79408)	1
  (7498, 279578)	1
  (7498, 257870)	1
  (7498, 466684)	1
  (7498, 271077)	1
  (7498, 107039)	1
  (7498, 27108)	1
  (7498, 522899)	1
  (7498, 108033)	1
  (7498, 515680)	1
  (7498, 449393)	1
  (7498, 75621)	1
  (7498, 406501)	1
  (7498, 167583)	1
  (7498, 428531)	1
  (7498, 388937)	1
  (7498, 129635)	1
  (7498, 129650)	1
  (7498, 393317)	1
  (7498, 32304)	1
  (7498, 425070)	1
  (7498, 152394)	1
  (7499, 128138)	1
  (7499, 532282)	1
  (7499, 128216)	1

6. Create a dictionary to get the count of every label i.e. the key will be label name and value will be the total count of the label. Check below image for reference (5 points)

In [409]:
print(df_subset.gender.value_counts())
print(df_subset.sign.value_counts())
print(df_subset.age.value_counts())
print(df_subset.topic.value_counts())

male      5916
female    4084
Name: gender, dtype: int64
Aries          4198
Sagittarius    1097
Scorpio         971
Taurus          812
Aquarius        571
Cancer          504
Libra           491
Pisces          454
Leo             301
Virgo           236
Capricorn       215
Gemini          150
Name: sign, dtype: int64
35    2315
36    1708
17    1185
27    1054
24     655
15     602
34     553
16     440
25     386
23     253
26     234
14     212
33     136
39      79
38      46
13      42
37      33
41      20
45      16
42      14
46       7
43       6
44       3
40       1
Name: age, dtype: int64
indUnk                     3287
Technology                 2654
Fashion                    1622
Student                    1137
Education                   270
Marketing                   156
Engineering                 127
Internet                    118
Communications-Media         99
BusinessServices             91
Sports-Recreation            80
Non-Profit                   71
InvestmentBanking            70
Science                      63
Arts                         45
Consulting                   21
Museums-Libraries            17
Banking                      16
Automotive                   14
Law                          11
LawEnforcement-Security      10
Religion                      9
Accounting                    4
Publishing                    4
Telecommunications            2
HumanResources                2
Name: topic, dtype: int64

In [0]:
labels_dict = dict(df_subset.gender.value_counts())
labels_dict.update(dict(df_subset.age.value_counts()))
labels_dict.update(dict(df_subset.topic.value_counts()))
labels_dict.update(dict(df_subset.sign.value_counts()))

Dictionary of labels is as below:

In [411]:
print(labels_dict)

{'male': 5916, 'female': 4084, 35: 2315, 36: 1708, 17: 1185, 27: 1054, 24: 655, 15: 602, 34: 553, 16: 440, 25: 386, 23: 253, 26: 234, 14: 212, 33: 136, 39: 79, 38: 46, 13: 42, 37: 33, 41: 20, 45: 16, 42: 14, 46: 7, 43: 6, 44: 3, 40: 1, 'indUnk': 3287, 'Technology': 2654, 'Fashion': 1622, 'Student': 1137, 'Education': 270, 'Marketing': 156, 'Engineering': 127, 'Internet': 118, 'Communications-Media': 99, 'BusinessServices': 91, 'Sports-Recreation': 80, 'Non-Profit': 71, 'InvestmentBanking': 70, 'Science': 63, 'Arts': 45, 'Consulting': 21, 'Museums-Libraries': 17, 'Banking': 16, 'Automotive': 14, 'Law': 11, 'LawEnforcement-Security': 10, 'Religion': 9, 'Accounting': 4, 'Publishing': 4, 'Telecommunications': 2, 'HumanResources': 2, 'Aries': 4198, 'Sagittarius': 1097, 'Scorpio': 971, 'Taurus': 812, 'Aquarius': 571, 'Cancer': 504, 'Libra': 491, 'Pisces': 454, 'Leo': 301, 'Virgo': 236, 'Capricorn': 215, 'Gemini': 150}

7. Transform the labels - (7.5 points)

  As we have noticed before, in this task each example can have multiple tags. To deal with such kind of prediction, we need to transform labels in a binary form and the prediction will be a mask of 0s and 1s. For this purpose, it is convenient to use MultiLabelBinarizer from sklearn

  a. Convert your train and test labels using MultiLabelBinarizer

In [412]:
y_train

651               [male, 24, Engineering, Libra]
6560                  [male, 36, Fashion, Aries]
8974                  [male, 15, Student, Virgo]
2348               [male, 35, Technology, Aries]
5670                [female, 27, indUnk, Taurus]
                          ...
2895               [male, 35, Technology, Aries]
7813                  [male, 36, Fashion, Aries]
905     [male, 17, Sports-Recreation, Capricorn]
5192               [female, 17, indUnk, Scorpio]
235                [male, 15, Student, Aquarius]
Name: labels, Length: 7500, dtype: object

Creating list of list with y_train and y_test to be provided as an input to MultiLabelBinarizer

In [0]:
y_train_list = y_train.tolist()
y_test_list = y_test.tolist()

In [414]:
y_train_list

[['male', '24', 'Engineering', 'Libra'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '15', 'Student', 'Virgo'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '39', 'Communications-Media', 'Libra'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['female', '36', 'indUnk', 'Pisces'],
 ['male', '15', 'Student', 'Virgo'],
 ['female', '23', 'Automotive', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '27', 'Education', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'Student', 'Pisces'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '17', 'Student', 'Sagittarius'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '15', 'Student', 'Virgo'],
 ['male', '17', 'indUnk', 'Aquarius'],
 ['female', '17', 'Student', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '16', 'indUnk', 'Capricorn'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '25', 'Technology', 'Aries'],
 ['male', '26', 'indUnk', 'Gemini'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '39', 'Education', 'Virgo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '26', 'indUnk', 'Pisces'],
 ['female', '17', 'indUnk', 'Cancer'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '39', 'Communications-Media', 'Libra'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '15', 'Student', 'Pisces'],
 ['male', '26', 'Technology', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '26', 'indUnk', 'Gemini'],
 ['female', '15', 'Student', 'Pisces'],
 ['male', '39', 'Communications-Media', 'Libra'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '16', 'indUnk', 'Cancer'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '26', 'Technology', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '27', 'Technology', 'Pisces'],
 ['male', '15', 'Arts', 'Cancer'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '26', 'indUnk', 'Gemini'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '17', 'Student', 'Cancer'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Sagittarius'],
 ['male', '26', 'Technology', 'Scorpio'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '15', 'Student', 'Virgo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '14', 'Student', 'Scorpio'],
 ['male', '23', 'indUnk', 'Sagittarius'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '17', 'indUnk', 'Cancer'],
 ['male', '16', 'Student', 'Scorpio'],
 ['male', '14', 'Student', 'Cancer'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '27', 'Education', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '23', 'Student', 'Sagittarius'],
 ['male', '15', 'Student', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '17', 'indUnk', 'Scorpio'],
 ['female', '25', 'Technology', 'Sagittarius'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '16', 'indUnk', 'Cancer'],
 ['female', '17', 'Student', 'Leo'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '26', 'indUnk', 'Leo'],
 ['male', '26', 'Education', 'Libra'],
 ['male', '25', 'BusinessServices', 'Sagittarius'],
 ['male', '26', 'indUnk', 'Leo'],
 ['female', '27', 'Marketing', 'Aquarius'],
 ['female', '36', 'indUnk', 'Pisces'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '26', 'Education', 'Libra'],
 ['male', '25', 'Accounting', 'Libra'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '14', 'Student', 'Cancer'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '17', 'Sports-Recreation', 'Capricorn'],
 ['female', '17', 'indUnk', 'Cancer'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '15', 'Student', 'Aquarius'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '17', 'Sports-Recreation', 'Capricorn'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '15', 'Student', 'Virgo'],
 ['male', '27', 'Technology', 'Pisces'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '16', 'indUnk', 'Taurus'],
 ['male', '27', 'Technology', 'Pisces'],
 ['female', '35', 'indUnk', 'Gemini'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '42', 'Religion', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '15', 'Student', 'Libra'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '17', 'indUnk', 'Aquarius'],
 ['female', '27', 'Education', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '27', 'Technology', 'Pisces'],
 ['female', '24', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '27', 'Law', 'Pisces'],
 ['female', '25', 'Technology', 'Sagittarius'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '15', 'Student', 'Pisces'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '36', 'indUnk', 'Pisces'],
 ['male', '26', 'indUnk', 'Leo'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '17', 'Student', 'Pisces'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '33', 'Technology', 'Sagittarius'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '27', 'Education', 'Aquarius'],
 ['female', '25', 'Technology', 'Sagittarius'],
 ['female', '25', 'Student', 'Taurus'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '27', 'Education', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '27', 'Education', 'Aquarius'],
 ['male', '26', 'Education', 'Libra'],
 ['male', '16', 'Student', 'Scorpio'],
 ['female', '17', 'Student', 'Sagittarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '27', 'Marketing', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Sagittarius'],
 ['male', '16', 'BusinessServices', 'Sagittarius'],
 ['male', '15', 'Student', 'Virgo'],
 ['female', '24', 'Education', 'Capricorn'],
 ['male', '16', 'indUnk', 'Cancer'],
 ['female', '26', 'indUnk', 'Aquarius'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['female', '27', 'Marketing', 'Aquarius'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Sagittarius'],
 ['female', '16', 'indUnk', 'Capricorn'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '17', 'Student', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '45', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '23', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Cancer'],
 ['female', '25', 'BusinessServices', 'Aries'],
 ['male', '26', 'Science', 'Scorpio'],
 ['female', '24', 'indUnk', 'Sagittarius'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '27', 'Technology', 'Pisces'],
 ['male', '33', 'InvestmentBanking', 'Aquarius'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '16', 'Education', 'Cancer'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '15', 'Student', 'Libra'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '24', 'Education', 'Capricorn'],
 ['male', '23', 'Technology', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '27', 'Technology', 'Pisces'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '39', 'Communications-Media', 'Libra'],
 ['female', '27', 'Law', 'Pisces'],
 ['male', '25', 'Non-Profit', 'Cancer'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '33', 'Engineering', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '17', 'indUnk', 'Libra'],
 ['male', '16', 'indUnk', 'Cancer'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '23', 'Museums-Libraries', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '23', 'indUnk', 'Libra'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '26', 'Science', 'Scorpio'],
 ['female', '34', 'indUnk', 'Scorpio'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '27', 'Marketing', 'Aquarius'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'Student', 'Pisces'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '16', 'indUnk', 'Cancer'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '23', 'Internet', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '27', 'Technology', 'Pisces'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['female', '17', 'indUnk', 'Cancer'],
 ['male', '15', 'Science', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '14', 'Student', 'Scorpio'],
 ['female', '23', 'indUnk', 'Cancer'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '38', 'Internet', 'Sagittarius'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '14', 'Student', 'Leo'],
 ['male', '33', 'Non-Profit', 'Gemini'],
 ['female', '27', 'Marketing', 'Aquarius'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '13', 'indUnk', 'Libra'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '27', 'Technology', 'Pisces'],
 ['female', '23', 'indUnk', 'Cancer'],
 ['male', '26', 'indUnk', 'Gemini'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Sagittarius'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '23', 'Technology', 'Sagittarius'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '15', 'Student', 'Virgo'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '45', 'HumanResources', 'Aquarius'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'Student', 'Sagittarius'],
 ['female', '36', 'indUnk', 'Pisces'],
 ['female', '23', 'Automotive', 'Aquarius'],
 ['female', '25', 'Communications-Media', 'Pisces'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '24', 'Telecommunications', 'Sagittarius'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '33', 'InvestmentBanking', 'Aquarius'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '24', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '23', 'indUnk', 'Sagittarius'],
 ['male', '39', 'Education', 'Virgo'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['female', '17', 'indUnk', 'Cancer'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '13', 'indUnk', 'Libra'],
 ['female', '23', 'indUnk', 'Libra'],
 ['female', '37', 'indUnk', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '41', 'indUnk', 'Gemini'],
 ['male', '26', 'Technology', 'Scorpio'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '23', 'Student', 'Taurus'],
 ['female', '15', 'Student', 'Aquarius'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '24', 'Technology', 'Leo'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '33', 'InvestmentBanking', 'Aquarius'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '17', 'Student', 'Sagittarius'],
 ['female', '24', 'Education', 'Capricorn'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '14', 'indUnk', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '43', 'Arts', 'Aries'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '23', 'Museums-Libraries', 'Leo'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Pisces'],
 ['male', '16', 'Internet', 'Gemini'],
 ['male', '33', 'InvestmentBanking', 'Aquarius'],
 ['female', '36', 'indUnk', 'Pisces'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '16', 'indUnk', 'Cancer'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '16', 'Education', 'Cancer'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '27', 'Marketing', 'Aquarius'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['female', '15', 'Student', 'Aquarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '25', 'Technology', 'Sagittarius'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '36', 'indUnk', 'Pisces'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '27', 'Technology', 'Pisces'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '15', 'Student', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Sagittarius'],
 ['male', '24', 'Engineering', 'Libra'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '13', 'Student', 'Aquarius'],
 ['male', '15', 'Student', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '15', 'Student', 'Pisces'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '17', 'indUnk', 'Cancer'],
 ['male', '15', 'Student', 'Aquarius'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '16', 'Student', 'Pisces'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '26', 'indUnk', 'Leo'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['female', '25', 'indUnk', 'Libra'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '27', 'Marketing', 'Aquarius'],
 ['male', '27', 'Technology', 'Pisces'],
 ['male', '27', 'Technology', 'Pisces'],
 ['female', '16', 'indUnk', 'Capricorn'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '36', 'Fashion', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '37', 'LawEnforcement-Security', 'Aquarius'],
 ['male', '36', 'Fashion', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '14', 'Student', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '34', 'indUnk', 'Sagittarius'],
 ['female', '27', 'indUnk', 'Taurus'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '24', 'indUnk', 'Scorpio'],
 ['female', '17', 'Student', 'Sagittarius'],
 ['male', '35', 'Technology', 'Aries'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['male', '35', 'Technology', 'Aries'],
 ['male', '24', 'BusinessServices', 'Cancer'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '15', 'Student', 'Libra'],
 ['female', '17', 'indUnk', 'Scorpio'],
 ['female', '15', 'Student', 'Pisces'],
 ['male', '15', 'Student', 'Virgo'],

In [0]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
y_train_encoded = mlb.fit_transform(y_train_list)
y_test_encoded = mlb.transform(y_test_list)

In [416]:
y_train_encoded

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 1, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 1, 1, 0],
       [0, 0, 1, ..., 0, 0, 1]])

In [417]:
mlb.classes_

array(['13', '14', '15', '16', '17', '23', '24', '25', '26', '27', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44',
       '45', '46', 'Accounting', 'Aquarius', 'Aries', 'Arts',
       'Automotive', 'Banking', 'BusinessServices', 'Cancer', 'Capricorn',
       'Communications-Media', 'Consulting', 'Education', 'Engineering',
       'Fashion', 'Gemini', 'HumanResources', 'Internet',
       'InvestmentBanking', 'Law', 'LawEnforcement-Security', 'Leo',
       'Libra', 'Marketing', 'Museums-Libraries', 'Non-Profit', 'Pisces',
       'Publishing', 'Religion', 'Sagittarius', 'Science', 'Scorpio',
       'Sports-Recreation', 'Student', 'Taurus', 'Technology',
       'Telecommunications', 'Virgo', 'female', 'indUnk', 'male'],
      dtype=object)

In [418]:
len(mlb.classes_)

64

In [0]:
y_train_encoded_df = pd.DataFrame(y_train_encoded, columns = mlb.classes_)
y_test_encoded_df = pd.DataFrame(y_test_encoded, columns = mlb.classes_)

In [420]:
y_train.head()

651     [male, 24, Engineering, Libra]
6560        [male, 36, Fashion, Aries]
8974        [male, 15, Student, Virgo]
2348     [male, 35, Technology, Aries]
5670      [female, 27, indUnk, Taurus]
Name: labels, dtype: object

In [421]:
y_train_encoded_df.head()

   13  14  15  16  17  ...  Telecommunications  Virgo  female  indUnk  male
0   0   0   0   0   0  ...                   0      0       0       0     1
1   0   0   0   0   0  ...                   0      0       0       0     1
2   0   0   1   0   0  ...                   0      1       0       0     1
3   0   0   0   0   0  ...                   0      0       0       0     1
4   0   0   0   0   0  ...                   0      0       1       1     0

[5 rows x 64 columns]

In [422]:
y_test_encoded_df.head()

   13  14  15  16  17  ...  Telecommunications  Virgo  female  indUnk  male
0   0   0   0   1   0  ...                   0      0       1       1     0
1   0   1   0   0   0  ...                   0      0       0       0     1
2   0   0   0   0   1  ...                   0      0       1       1     0
3   0   0   0   0   0  ...                   0      0       1       1     0
4   0   0   0   0   1  ...                   0      0       1       1     0

[5 rows x 64 columns]

In [423]:
mlb.get_params

8. Choose a classifier - (5 points)

  In this task, we suggest using the One-vs-Rest approach, which is implemented in OneVsRestClassifier class. In this approach k classifiers (= number of tags) are trained. As a basic classifier, use LogisticRegression . It is one of the simplest methods, but often it performs good enough in text classification tasks. It might take some time because the number of classifiers to train is large.

  a. Use a linear classifier of your choice, wrap it up in OneVsRestClassifier to train it on every label
  
  b. As One-vs-Rest approach might not have been discussed in the sessions, we are
providing you the code for that

9. Fit the classifier, make predictions and get the accuracy (5 points)

  a. Print the following

    i. Accuracy score

    ii. F1 score

    iii. Average precision score

    iv. Average recall score

    v. Tip: Make sure you are familiar with all of them. How would you expect the
things to work for the multi-label scenario? Read about micro/macro/weighted
averaging

10. Print true label and predicted label for any five examples (7.5 points)

In [0]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(solver = 'lbfgs', max_iter = 5000)
clf = OneVsRestClassifier(clf)

In [426]:
clf.fit(x_train_dtm, y_train_encoded_df)

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=5000,
                                                 multi_class='auto',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False),
                    n_jobs=None)

In [427]:
from sklearn.metrics import accuracy_score
y_pred_train = clf.predict(x_train_dtm)
print ("Training Accuracy={}".format(accuracy_score(y_train_encoded_df, y_pred_train)))

Training Accuracy=0.9577333333333333

In [428]:
from sklearn.metrics import accuracy_score
y_pred = clf.predict(x_test_dtm)
print ("Test Accuracy={}".format(accuracy_score(y_test_encoded_df, y_pred)))

Test Accuracy=0.318

In [429]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score 
from sklearn.metrics import average_precision_score
from sklearn.metrics import recall_score, precision_score, classification_report

def evaluation_scores(y_val, predicted):
    
    print ("Testing Accuracy={}".format(accuracy_score(y_val, predicted)))
    print ("Precision Score={}".format(precision_score(y_val, predicted, average='macro')))
    print ("Recall Score={}".format(recall_score(y_val, predicted, average='micro', zero_division = 1)))
    print ("F1_macro={}".format(f1_score(y_val, predicted, average='macro', zero_division = 1)))
    print ("F1_micro={}".format(f1_score(y_val, predicted, average='micro', zero_division = 1)))
    print ("F1_wted={}".format(f1_score(y_val, predicted, average='weighted',zero_division = 1)))
    
print('Evaluation Scores:')
evaluation_scores(y_test_encoded_df, y_pred)
y_pred_scores = clf.decision_function(x_test_dtm)
print ("Average Precision Score={}".format(average_precision_score(y_test_encoded_df, y_pred_scores)))

Evaluation Scores:
Testing Accuracy=0.318
Precision Score=0.5142657442278666
Recall Score=0.5371
F1_macro=0.29471758492143063
F1_micro=0.6376209414139016
F1_wted=0.5977362817819609

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Average Precision Score=nan

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_ranking.py:677: RuntimeWarning: invalid value encountered in true_divide
  recall = tps / tps[-1]

In [430]:
# print the Classification matrix
classification_report(y_test_encoded_df, y_pred_labels,zero_division=1)

'              precision    recall  f1-score   support\n\n           0       1.00      0.30      0.46        10\n           1       0.71      0.09      0.16        57\n           2       0.72      0.22      0.34       141\n           3       0.69      0.21      0.32       117\n           4       0.79      0.31      0.44       289\n           5       1.00      0.02      0.04        51\n           6       0.70      0.09      0.16       180\n           7       0.44      0.04      0.08        93\n           8       0.33      0.02      0.04        50\n           9       0.81      0.39      0.53       239\n          10       1.00      0.33      0.50        33\n          11       0.98      0.76      0.86       158\n          12       0.72      0.64      0.68       563\n          13       0.93      0.49      0.65       455\n          14       0.00      0.00      0.00         7\n          15       1.00      0.07      0.12        15\n          16       1.00      0.00      0.00        31\n          17       1.00      1.00      1.00         0\n          18       1.00      0.00      0.00         5\n          19       1.00      1.00      1.00         0\n          20       1.00      0.00      0.00         1\n          21       1.00      1.00      1.00         0\n          22       0.00      0.00      0.00         3\n          23       1.00      0.00      0.00         2\n          24       1.00      0.00      0.00         2\n          25       0.85      0.36      0.51       130\n          26       0.76      0.80      0.78      1050\n          27       0.50      0.06      0.11        16\n          28       1.00      0.00      0.00         2\n          29       1.00      0.00      0.00         4\n          30       1.00      0.15      0.26        20\n          31       0.76      0.28      0.41       121\n          32       0.75      0.10      0.18        59\n          33       0.00      0.00      0.00        35\n          34       1.00      0.00      0.00         2\n          35       0.67      0.07      0.12        59\n          36       0.80      0.10      0.18        40\n          37       0.95      0.52      0.67       434\n          38       0.00      0.00      0.00        35\n          39       0.00      1.00      0.00         0\n          40       1.00      0.03      0.06        32\n          41       1.00      0.44      0.62        18\n          42       1.00      0.00      0.00         3\n          43       1.00      0.00      0.00         2\n          44       0.75      0.05      0.09        66\n          45       0.72      0.18      0.28       131\n          46       0.94      0.47      0.63        34\n          47       1.00      0.00      0.00         2\n          48       0.00      0.00      0.00        17\n          49       0.81      0.25      0.38       106\n          50       1.00      0.00      0.00         1\n          51       1.00      0.00      0.00         1\n          52       0.91      0.46      0.61       304\n          53       1.00      0.07      0.13        14\n          54       0.85      0.25      0.39       256\n          55       1.00      0.20      0.33        20\n          56       0.63      0.26      0.37       257\n          57       0.71      0.27      0.39       188\n          58       0.70      0.61      0.65       649\n          59       1.00      0.00      0.00         1\n          60       0.67      0.11      0.19        54\n          61       0.80      0.67      0.73      1015\n          62       0.73      0.50      0.60       835\n          63       0.80      0.88      0.84      1485\n\n   micro avg       0.78      0.54      0.64     10000\n   macro avg       0.78      0.25      0.29     10000\nweighted avg       0.78      0.54      0.60     10000\n samples avg       0.75      0.54      0.59     10000\n'

Printing below true lables and predicted labels for any 5 examples

In [0]:
true_labels = np.array(y_test_encoded_df[200:205])

In [0]:
predicted_labels = y_pred_labels[200:205]

In [433]:
mlb.inverse_transform(true_labels)

[('25', 'Leo', 'Student', 'female'),
 ('36', 'Aries', 'Fashion', 'male'),
 ('34', 'Sagittarius', 'female', 'indUnk'),
 ('15', 'Aquarius', 'Student', 'female'),
 ('35', 'Aries', 'Technology', 'male')]

In [434]:
mlb.inverse_transform(predicted_labels)

[('male',),
 ('36', 'Aries', 'Fashion', 'male'),
 ('34', 'Sagittarius', 'female', 'indUnk'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male')]

A macro-average will compute the metric independently for each class and then take the average (hence treating all classes equally), whereas a micro-average will aggregate the contributions of all classes to compute the average metric. In a multi-class classification setup, micro-average is preferable if you suspect there might be class imbalance (i.e you may have many more examples of one class than of other classes).

Attempting another approach for experimentation with all labels concatenated as string before encoding instead of list of lables.Although above approach looks more correct where multiple lables are taken into consideration in each example.

Creating dataframe of text and labels as df2 and repeating sequence of steps given in the problem

In [435]:
df2 = df_subset[['processed_text' , 'labels1']]
df2.rename(columns ={'processed_text' : 'text', 'labels1' : 'labels'},inplace = True)
df2.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

                                                text                           labels
0  info found   pages  mb pdf files wait untill t...                 male15studentleo
1  team members drewes van der laag urllink mail ...                 male15studentleo
2  het kader van kernfusie op aarde maak je eigen...                 male15studentleo
3                                    testing testing                 male15studentleo
4  thanks yahoos toolbar capture urls popupswhich...  male33investmentbankingaquarius

In [436]:
labels_dict2 = dict(df2.labels.value_counts())
labels_dict2

{'female13indunklibra': 9,
 'female13studentaquarius': 31,
 'female13studentsagittarius': 2,
 'female14indunkaquarius': 5,
 'female14indunkaries': 21,
 'female14indunkcancer': 7,
 'female14indunkleo': 4,
 'female14studentcancer': 10,
 'female14studentcapricorn': 2,
 'female14studenttaurus': 11,
 'female15artspisces': 2,
 'female15indunkaquarius': 11,
 'female15indunkaries': 26,
 'female15studentaquarius': 62,
 'female15studentcancer': 9,
 'female15studentgemini': 5,
 'female15studentleo': 17,
 'female15studentlibra': 131,
 'female15studentpisces': 74,
 'female15studentvirgo': 4,
 'female16educationcancer': 24,
 'female16indunkcapricorn': 60,
 'female16indunkleo': 16,
 'female16indunksagittarius': 4,
 'female16indunktaurus': 20,
 'female16studentaquarius': 7,
 'female16studentcancer': 1,
 'female16studentcapricorn': 4,
 'female16studentlibra': 16,
 'female16studenttaurus': 32,
 'female17indunkcancer': 139,
 'female17indunkleo': 56,
 'female17indunkscorpio': 558,
 'female17studentaries': 29,
 'female17studentcapricorn': 9,
 'female17studentgemini': 10,
 'female17studentleo': 37,
 'female17studentpisces': 45,
 'female17studentsagittarius': 41,
 'female17studentscorpio': 10,
 'female17studenttaurus': 33,
 'female23artsaries': 8,
 'female23automotiveaquarius': 14,
 'female23educationaquarius': 2,
 'female23educationaries': 4,
 'female23indunkaquarius': 1,
 'female23indunkaries': 10,
 'female23indunkcancer': 16,
 'female23indunklibra': 17,
 'female23indunksagittarius': 3,
 'female23indunkscorpio': 3,
 'female23indunkvirgo': 2,
 'female23marketingleo': 10,
 'female23museums-librariesleo': 15,
 'female23studenttaurus': 17,
 'female24bankinglibra': 3,
 'female24educationcapricorn': 44,
 'female24indunkaries': 24,
 'female24indunksagittarius': 198,
 'female24indunkscorpio': 191,
 'female24religioncapricorn': 4,
 'female24technologyleo': 18,
 'female25businessservicesaries': 22,
 'female25communications-mediapisces': 23,
 'female25indunkcapricorn': 2,
 'female25indunklibra': 29,
 'female25indunkpisces': 10,
 'female25indunksagittarius': 3,
 'female25indunktaurus': 6,
 'female25studentleo': 14,
 'female25studentpisces': 8,
 'female25studenttaurus': 33,
 'female25technologysagittarius': 58,
 'female26accountingaquarius': 2,
 'female26indunkaquarius': 11,
 'female26indunklibra': 10,
 'female26indunkpisces': 18,
 'female26sciencesagittarius': 4,
 'female27educationaquarius': 85,
 'female27educationgemini': 1,
 'female27indunktaurus': 605,
 'female27lawpisces': 8,
 'female27marketingaquarius': 146,
 'female33bankingaquarius': 13,
 'female33consultingaries': 3,
 'female33indunkleo': 10,
 'female33indunksagittarius': 1,
 'female33lawleo': 3,
 'female34educationscorpio': 13,
 'female34indunksagittarius': 532,
 'female34indunkscorpio': 6,
 'female34indunkvirgo': 2,
 'female35indunkgemini': 13,
 'female35publishingscorpio': 4,
 'female36indunkpisces': 59,
 'female36internetaries': 27,
 'female36studentgemini': 1,
 'female37indunkaquarius': 19,
 'female38internetsagittarius': 46,
 'female40internetaquarius': 1,
 'female41indunkgemini': 6,
 'female42consultingleo': 9,
 'female43artsaries': 6,
 'female45indunksagittarius': 14,
 'male14indunkscorpio': 42,
 'male14indunkvirgo': 3,
 'male14studentcancer': 9,
 'male14studentleo': 37,
 'male14studentlibra': 9,
 'male14studentpisces': 6,
 'male14studentscorpio': 46,
 'male15artscancer': 11,
 'male15fashiontaurus': 6,
 'male15indunkvirgo': 18,
 'male15sciencelibra': 29,
 'male15sports-recreationtaurus': 2,
 'male15studentaquarius': 34,
 'male15studentleo': 10,
 'male15studentlibra': 2,
 'male15studentsagittarius': 9,
 'male15studenttaurus': 3,
 'male15studentvirgo': 137,
 'male16businessservicessagittarius': 9,
 'male16indunkcancer': 180,
 'male16indunkgemini': 18,
 'male16indunkpisces': 1,
 'male16indunktaurus': 13,
 'male16internetgemini': 7,
 'male16studentcancer': 2,
 'male16studentleo': 3,
 'male16studentpisces': 11,
 'male16studentscorpio': 12,
 'male17indunkaquarius': 24,
 'male17indunkgemini': 2,
 'male17indunklibra': 3,
 'male17indunksagittarius': 14,
 'male17indunkscorpio': 8,
 'male17sports-recreationcapricorn': 75,
 'male17studentcancer': 26,
 'male17studentcapricorn': 2,
 'male17studentgemini': 10,
 'male17studentsagittarius': 37,
 'male17studentvirgo': 5,
 'male17technologycapricorn': 12,
 'male23consultingtaurus': 2,
 'male23educationcancer': 3,
 'male23indunksagittarius': 49,
 'male23indunktaurus': 14,
 'male23indunkvirgo': 11,
 'male23internetaquarius': 17,
 'male23studentaries': 10,
 'male23studentsagittarius': 10,
 'male23technologysagittarius': 15,
 'male24businessservicescancer': 21,
 'male24businessservicesleo': 2,
 'male24engineeringlibra': 119,
 'male24indunkaquarius': 4,
 'male24indunklibra': 23,
 'male24studentgemini': 2,
 'male24telecommunicationssagittarius': 2,
 'male25accountinglibra': 2,
 'male25artsaries': 18,
 'male25businessservicessagittarius': 33,
 'male25communications-mediapisces': 15,
 'male25indunktaurus': 7,
 'male25internetaries': 20,
 'male25non-profitcancer': 46,
 'male25non-profitcapricorn': 1,
 'male25technologyaries': 34,
 'male25technologypisces': 2,
 'male26educationlibra': 25,
 'male26indunkgemini': 44,
 'male26indunkleo': 35,
 'male26indunksagittarius': 5,
 'male26museums-librariesleo': 2,
 'male26sciencescorpio': 30,
 'male26sports-recreationleo': 3,
 'male26technologylibra': 3,
 'male26technologyscorpio': 42,
 'male27educationaries': 13,
 'male27educationscorpio': 2,
 'male27educationvirgo': 22,
 'male27technologypisces': 172,
 'male33engineeringaries': 8,
 'male33investmentbankingaquarius': 70,
 'male33non-profitgemini': 24,
 'male33technologysagittarius': 4,
 'male35indunkscorpio': 4,
 'male35technologyaries': 2294,
 'male36fashionaries': 1616,
 'male36indunktaurus': 5,
 'male37businessservicessagittarius': 4,
 'male37lawenforcement-securityaquarius': 10,
 'male39communications-medialibra': 47,
 'male39educationvirgo': 32,
 'male41communications-medialibra': 14,
 'male42religionaries': 5,
 'male44indunktaurus': 3,
 'male45humanresourcesaquarius': 2,
 'male46consultinggemini': 7}

In [0]:
X2 = df2['text']
y2 = df2['labels']

In [0]:
# split the new DataFrame into training and testing sets [Default test size = 25%]
from sklearn.model_selection import train_test_split
x_train2, x_test2, y_train2, y_test2 = train_test_split(X2, y2, random_state=1)

In [0]:
from sklearn.feature_extraction.text import CountVectorizer
# include 1-grams and 2-grams
vect = CountVectorizer(ngram_range=(1, 2),lowercase=True)

In [0]:
x_train2_dtm = vect.fit_transform(x_train2)
x_test2_dtm = vect.transform(x_test2)

In [441]:
print(x_train2_dtm)

  (0, 524906)	1
  (0, 160465)	1
  (0, 191109)	1
  (0, 25768)	1
  (0, 434501)	1
  (0, 426820)	1
  (0, 475806)	1
  (0, 275899)	1
  (0, 45180)	1
  (0, 473147)	1
  (0, 14258)	1
  (0, 397857)	1
  (0, 228765)	1
  (0, 225817)	1
  (0, 62148)	1
  (0, 394790)	1
  (0, 325280)	1
  (0, 66899)	1
  (0, 541389)	1
  (0, 304839)	1
  (0, 257403)	1
  (0, 279684)	1
  (0, 543981)	1
  (0, 532945)	1
  (0, 525195)	1
  :	:
  (7498, 79408)	1
  (7498, 279578)	1
  (7498, 257870)	1
  (7498, 466684)	1
  (7498, 271077)	1
  (7498, 107039)	1
  (7498, 27108)	1
  (7498, 522899)	1
  (7498, 108033)	1
  (7498, 515680)	1
  (7498, 449393)	1
  (7498, 75621)	1
  (7498, 406501)	1
  (7498, 167583)	1
  (7498, 428531)	1
  (7498, 388937)	1
  (7498, 129635)	1
  (7498, 129650)	1
  (7498, 393317)	1
  (7498, 32304)	1
  (7498, 425070)	1
  (7498, 152394)	1
  (7499, 128138)	1
  (7499, 532282)	1
  (7499, 128216)	1

Converting the labels to list of list for input to MultiLabelBinarizer

In [0]:
def listoflists(lst): 
    return [[el] for el in lst]


y_train2_list = y_train2.tolist()
y_test2_list = y_test2.tolist()
y_train2_listoflist = listoflists(y_train2_list)
y_test2_listoflist = listoflists(y_test2_list)

In [443]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb2 = MultiLabelBinarizer()
y_train2_encoded = mlb2.fit_transform(y_train2_listoflist)
y_test2_encoded = mlb2.transform(y_test2_listoflist)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:987: UserWarning: unknown class(es) ['female16studentcancer', 'female33indunksagittarius', 'male25non-profitcapricorn'] will be ignored
  .format(sorted(unknown, key=str)))

In [444]:
y_train2_encoded
mlb2.classes_

array(['female13indunklibra', 'female13studentaquarius',
       'female13studentsagittarius', 'female14indunkaquarius',
       'female14indunkaries', 'female14indunkcancer', 'female14indunkleo',
       'female14studentcancer', 'female14studentcapricorn',
       'female14studenttaurus', 'female15artspisces',
       'female15indunkaquarius', 'female15indunkaries',
       'female15studentaquarius', 'female15studentcancer',
       'female15studentgemini', 'female15studentleo',
       'female15studentlibra', 'female15studentpisces',
       'female15studentvirgo', 'female16educationcancer',
       'female16indunkcapricorn', 'female16indunkleo',
       'female16indunksagittarius', 'female16indunktaurus',
       'female16studentaquarius', 'female16studentcapricorn',
       'female16studentlibra', 'female16studenttaurus',
       'female17indunkcancer', 'female17indunkleo',
       'female17indunkscorpio', 'female17studentaries',
       'female17studentcapricorn', 'female17studentgemini',
       'female17studentleo', 'female17studentpisces',
       'female17studentsagittarius', 'female17studentscorpio',
       'female17studenttaurus', 'female23artsaries',
       'female23automotiveaquarius', 'female23educationaquarius',
       'female23educationaries', 'female23indunkaquarius',
       'female23indunkaries', 'female23indunkcancer',
       'female23indunklibra', 'female23indunksagittarius',
       'female23indunkscorpio', 'female23indunkvirgo',
       'female23marketingleo', 'female23museums-librariesleo',
       'female23studenttaurus', 'female24bankinglibra',
       'female24educationcapricorn', 'female24indunkaries',
       'female24indunksagittarius', 'female24indunkscorpio',
       'female24religioncapricorn', 'female24technologyleo',
       'female25businessservicesaries',
       'female25communications-mediapisces', 'female25indunkcapricorn',
       'female25indunklibra', 'female25indunkpisces',
       'female25indunksagittarius', 'female25indunktaurus',
       'female25studentleo', 'female25studentpisces',
       'female25studenttaurus', 'female25technologysagittarius',
       'female26accountingaquarius', 'female26indunkaquarius',
       'female26indunklibra', 'female26indunkpisces',
       'female26sciencesagittarius', 'female27educationaquarius',
       'female27educationgemini', 'female27indunktaurus',
       'female27lawpisces', 'female27marketingaquarius',
       'female33bankingaquarius', 'female33consultingaries',
       'female33indunkleo', 'female33lawleo', 'female34educationscorpio',
       'female34indunksagittarius', 'female34indunkscorpio',
       'female34indunkvirgo', 'female35indunkgemini',
       'female35publishingscorpio', 'female36indunkpisces',
       'female36internetaries', 'female36studentgemini',
       'female37indunkaquarius', 'female38internetsagittarius',
       'female40internetaquarius', 'female41indunkgemini',
       'female42consultingleo', 'female43artsaries',
       'female45indunksagittarius', 'male14indunkscorpio',
       'male14indunkvirgo', 'male14studentcancer', 'male14studentleo',
       'male14studentlibra', 'male14studentpisces',
       'male14studentscorpio', 'male15artscancer', 'male15fashiontaurus',
       'male15indunkvirgo', 'male15sciencelibra',
       'male15sports-recreationtaurus', 'male15studentaquarius',
       'male15studentleo', 'male15studentlibra',
       'male15studentsagittarius', 'male15studenttaurus',
       'male15studentvirgo', 'male16businessservicessagittarius',
       'male16indunkcancer', 'male16indunkgemini', 'male16indunkpisces',
       'male16indunktaurus', 'male16internetgemini',
       'male16studentcancer', 'male16studentleo', 'male16studentpisces',
       'male16studentscorpio', 'male17indunkaquarius',
       'male17indunkgemini', 'male17indunklibra',
       'male17indunksagittarius', 'male17indunkscorpio',
       'male17sports-recreationcapricorn', 'male17studentcancer',
       'male17studentcapricorn', 'male17studentgemini',
       'male17studentsagittarius', 'male17studentvirgo',
       'male17technologycapricorn', 'male23consultingtaurus',
       'male23educationcancer', 'male23indunksagittarius',
       'male23indunktaurus', 'male23indunkvirgo',
       'male23internetaquarius', 'male23studentaries',
       'male23studentsagittarius', 'male23technologysagittarius',
       'male24businessservicescancer', 'male24businessservicesleo',
       'male24engineeringlibra', 'male24indunkaquarius',
       'male24indunklibra', 'male24studentgemini',
       'male24telecommunicationssagittarius', 'male25accountinglibra',
       'male25artsaries', 'male25businessservicessagittarius',
       'male25communications-mediapisces', 'male25indunktaurus',
       'male25internetaries', 'male25non-profitcancer',
       'male25technologyaries', 'male25technologypisces',
       'male26educationlibra', 'male26indunkgemini', 'male26indunkleo',
       'male26indunksagittarius', 'male26museums-librariesleo',
       'male26sciencescorpio', 'male26sports-recreationleo',
       'male26technologylibra', 'male26technologyscorpio',
       'male27educationaries', 'male27educationscorpio',
       'male27educationvirgo', 'male27technologypisces',
       'male33engineeringaries', 'male33investmentbankingaquarius',
       'male33non-profitgemini', 'male33technologysagittarius',
       'male35indunkscorpio', 'male35technologyaries',
       'male36fashionaries', 'male36indunktaurus',
       'male37businessservicessagittarius',
       'male37lawenforcement-securityaquarius',
       'male39communications-medialibra', 'male39educationvirgo',
       'male41communications-medialibra', 'male42religionaries',
       'male44indunktaurus', 'male45humanresourcesaquarius',
       'male46consultinggemini'], dtype=object)

In [0]:
y_train2_encoded_df = pd.DataFrame(y_train2_encoded, columns = mlb2.classes_)
y_test2_encoded_df = pd.DataFrame(y_test2_encoded, columns = mlb2.classes_)

In [447]:
y_train2_encoded_df.head()

   female13indunklibra  ...  male46consultinggemini
0                    0  ...                       0
1                    0  ...                       0
2                    0  ...                       0
3                    0  ...                       0
4                    0  ...                       0

[5 rows x 197 columns]

In [0]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
clf2 = LogisticRegression(solver = 'lbfgs', max_iter = 5000)
clf2 = OneVsRestClassifier(clf2)

In [459]:
clf2.fit(x_train2_dtm, y_train2_encoded_df)

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=5000,
                                                 multi_class='auto',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False),
                    n_jobs=None)

In [460]:
from sklearn.metrics import accuracy_score
y_pred2_train = clf2.predict(x_train2_dtm)
print ("Training Accuracy={}".format(accuracy_score(y_train2_encoded_df, y_pred2_train)))

Training Accuracy=0.9565333333333333

In [461]:
from sklearn.metrics import accuracy_score
y_pred2_test = clf2.predict(x_test2_dtm)
print ("Test Accuracy={}".format(accuracy_score(y_test2_encoded_df, y_pred2_test)))

Test Accuracy=0.3744

In [462]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score 
from sklearn.metrics import average_precision_score
from sklearn.metrics import recall_score, precision_score, classification_report

def evaluation_scores(y_val, predicted):
    
    print ("Accuracy={}".format(accuracy_score(y_val, predicted)))
    print ("Precision Score={}".format(precision_score(y_val, predicted, average='macro')))
    print ("Recall Score={}".format(recall_score(y_val, predicted, average='micro', zero_division = 1)))
    print ("F1_macro={}".format(f1_score(y_val, predicted, average='macro', zero_division = 1)))
    print ("F1_micro={}".format(f1_score(y_val, predicted, average='micro', zero_division = 1)))
    print ("F1_wted={}".format(f1_score(y_val, predicted, average='weighted',zero_division = 1)))
    
print('Evaluation Scores:')
evaluation_scores(y_test2_encoded_df, y_pred2_test)
y_pred2_scores = clf2.decision_function(x_test2_dtm)
print ("Average Precision Score={}".format(average_precision_score(y_test2_encoded_df, y_pred2_scores)))

Evaluation Scores:
Accuracy=0.3744
Precision Score=0.18916200643993844
Recall Score=0.3784541449739688

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

F1_macro=0.2335870061956319
F1_micro=0.5169584245076586
F1_wted=0.46352797835525766

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_ranking.py:677: RuntimeWarning: invalid value encountered in true_divide
  recall = tps / tps[-1]

Average Precision Score=nan

In [463]:
# print the Classification matrix
classification_report(y_test2_encoded_df, y_pred2_test,zero_division=1)

'              precision    recall  f1-score   support\n\n           0       1.00      0.00      0.00         1\n           1       1.00      0.50      0.67         8\n           2       1.00      0.00      0.00         1\n           3       1.00      1.00      1.00         1\n           4       1.00      0.00      0.00         7\n           5       1.00      1.00      1.00         0\n           6       1.00      0.00      0.00         1\n           7       0.00      1.00      0.00         0\n           8       1.00      0.00      0.00         1\n           9       1.00      0.00      0.00         2\n          10       1.00      1.00      1.00         0\n          11       0.00      0.00      0.00         2\n          12       1.00      0.33      0.50         6\n          13       0.33      0.08      0.13        12\n          14       1.00      0.00      0.00         2\n          15       1.00      0.00      0.00         1\n          16       1.00      0.33      0.50         6\n          17       0.94      0.47      0.63        36\n          18       1.00      0.08      0.14        13\n          19       1.00      0.00      0.00         1\n          20       1.00      0.40      0.57         5\n          21       0.50      0.05      0.09        20\n          22       1.00      0.00      0.00         6\n          23       1.00      0.00      0.00         2\n          24       1.00      0.00      0.00        12\n          25       1.00      1.00      1.00         0\n          26       1.00      0.00      0.00         1\n          27       1.00      0.50      0.67         2\n          28       0.00      0.00      0.00         8\n          29       0.92      0.31      0.47        35\n          30       0.00      0.00      0.00         8\n          31       0.85      0.28      0.42       142\n          32       0.00      0.00      0.00         6\n          33       1.00      0.00      0.00         1\n          34       1.00      0.00      0.00         5\n          35       1.00      0.20      0.33         5\n          36       1.00      0.00      0.00         8\n          37       1.00      0.00      0.00         8\n          38       0.00      0.00      0.00         2\n          39       1.00      0.08      0.15        12\n          40       1.00      0.00      0.00         3\n          41       1.00      0.00      0.00         2\n          42       1.00      1.00      1.00         0\n          43       1.00      1.00      1.00         0\n          44       1.00      1.00      1.00         0\n          45       1.00      0.00      0.00         3\n          46       1.00      0.00      0.00         4\n          47       1.00      0.00      0.00         3\n          48       1.00      1.00      1.00         0\n          49       1.00      0.00      0.00         1\n          50       1.00      1.00      1.00         0\n          51       1.00      0.00      0.00         2\n          52       1.00      0.00      0.00         1\n          53       1.00      0.00      0.00         3\n          54       1.00      0.00      0.00         1\n          55       1.00      0.10      0.18        10\n          56       1.00      0.00      0.00         7\n          57       0.67      0.04      0.07        52\n          58       1.00      0.17      0.30        52\n          59       1.00      0.00      0.00         1\n          60       1.00      0.00      0.00         8\n          61       1.00      0.00      0.00         3\n          62       0.50      0.11      0.18         9\n          63       1.00      1.00      1.00         0\n          64       1.00      0.25      0.40         8\n          65       1.00      0.00      0.00         2\n          66       1.00      0.00      0.00         1\n          67       1.00      0.00      0.00         2\n          68       1.00      0.00      0.00         3\n          69       1.00      0.00      0.00         1\n          70       0.00      0.00      0.00         2\n          71       0.67      0.12      0.20        17\n          72       1.00      0.00      0.00         1\n          73       1.00      0.00      0.00         4\n          74       1.00      0.00      0.00         3\n          75       1.00      0.00      0.00         3\n          76       1.00      0.00      0.00         1\n          77       0.80      0.20      0.32        20\n          78       1.00      1.00      1.00         0\n          79       0.81      0.35      0.48       139\n          80       1.00      0.00      0.00         2\n          81       0.94      0.50      0.65        32\n          82       1.00      0.00      0.00         3\n          83       1.00      1.00      1.00         0\n          84       1.00      0.00      0.00         3\n          85       1.00      0.00      0.00         1\n          86       1.00      0.33      0.50         3\n          87       0.98      0.77      0.86       153\n          88       1.00      0.00      0.00         2\n          89       1.00      1.00      1.00         0\n          90       1.00      0.00      0.00         3\n          91       1.00      0.00      0.00         1\n          92       0.00      0.00      0.00        15\n          93       1.00      0.00      0.00         8\n          94       1.00      1.00      1.00         0\n          95       0.00      0.00      0.00         4\n          96       1.00      0.07      0.12        15\n          97       1.00      1.00      1.00         0\n          98       1.00      0.00      0.00         3\n          99       1.00      1.00      1.00         0\n         100       1.00      0.00      0.00         1\n         101       0.00      0.00      0.00         3\n         102       1.00      0.08      0.14        13\n         103       1.00      1.00      1.00         0\n         104       1.00      0.00      0.00         3\n         105       1.00      0.14      0.25         7\n         106       0.00      0.00      0.00         4\n         107       1.00      0.00      0.00         3\n         108       1.00      0.20      0.33        15\n         109       1.00      0.00      0.00         6\n         110       1.00      0.00      0.00         3\n         111       1.00      0.00      0.00         3\n         112       1.00      0.00      0.00         6\n         113       1.00      1.00      1.00         0\n         114       0.50      0.09      0.15        11\n         115       1.00      0.00      0.00         4\n         116       1.00      0.00      0.00         1\n         117       1.00      0.00      0.00         1\n         118       1.00      0.00      0.00         1\n         119       0.89      0.31      0.46        26\n         120       0.00      0.00      0.00         2\n         121       0.70      0.33      0.45        42\n         122       1.00      0.00      0.00         5\n         123       1.00      1.00      1.00         0\n         124       1.00      0.00      0.00         2\n         125       1.00      0.00      0.00         1\n         126       0.00      1.00      0.00         0\n         127       1.00      0.00      0.00         1\n         128       1.00      0.00      0.00         3\n         129       1.00      0.00      0.00         4\n         130       1.00      0.00      0.00         5\n         131       1.00      0.00      0.00         1\n         132       1.00      0.00      0.00         1\n         133       1.00      0.00      0.00         5\n         134       1.00      0.00      0.00         2\n         135       1.00      0.21      0.35        19\n         136       1.00      0.00      0.00         8\n         137       1.00      0.00      0.00         1\n         138       1.00      0.00      0.00         1\n         139       1.00      0.00      0.00         9\n         140       1.00      0.00      0.00         1\n         141       1.00      0.00      0.00         4\n         142       1.00      1.00      1.00         0\n         143       0.00      0.00      0.00         1\n         144       0.00      0.00      0.00        13\n         145       1.00      0.00      0.00         1\n         146       1.00      0.00      0.00         4\n         147       1.00      0.00      0.00         4\n         148       1.00      1.00      1.00         0\n         149       1.00      0.00      0.00         2\n         150       1.00      0.00      0.00         4\n         151       1.00      0.50      0.67         4\n         152       1.00      1.00      1.00         0\n         153       0.67      0.10      0.18        39\n         154       1.00      0.00      0.00         1\n         155       1.00      0.00      0.00         4\n         156       1.00      1.00      1.00         0\n         157       1.00      0.00      0.00         1\n         158       1.00      0.00      0.00         1\n         159       0.00      0.00      0.00         6\n         160       1.00      0.10      0.18        10\n         161       1.00      0.00      0.00         6\n         162       1.00      1.00      1.00         0\n         163       1.00      0.00      0.00         4\n         164       0.50      0.10      0.17        10\n         165       1.00      0.00      0.00         6\n         166       1.00      0.00      0.00         1\n         167       1.00      0.00      0.00         1\n         168       0.00      0.00      0.00         7\n         169       0.50      0.12      0.20         8\n         170       1.00      0.00      0.00         2\n         171       1.00      0.00      0.00         1\n         172       1.00      0.14      0.25         7\n         173       1.00      0.00      0.00         1\n         174       1.00      1.00      1.00         0\n         175       0.00      0.00      0.00        11\n         176       1.00      1.00      1.00         0\n         177       1.00      1.00      1.00         0\n         178       0.00      0.00      0.00         6\n         179       0.92      0.57      0.71        40\n         180       1.00      0.00      0.00         1\n         181       1.00      0.44      0.62        18\n         182       0.00      0.00      0.00         6\n         183       1.00      1.00      1.00         0\n         184       1.00      0.00      0.00         1\n         185       0.72      0.63      0.68       558\n         186       0.95      0.53      0.68       431\n         187       1.00      0.00      0.00         1\n         188       1.00      0.00      0.00         1\n         189       1.00      0.00      0.00         2\n         190       1.00      0.00      0.00        18\n         191       1.00      0.00      0.00        13\n         192       1.00      0.00      0.00         2\n         193       1.00      1.00      1.00         0\n         194       1.00      1.00      1.00         0\n         195       0.00      1.00      0.00         0\n         196       1.00      0.00      0.00         2\n\n   micro avg       0.82      0.38      0.52      2497\n   macro avg       0.86      0.22      0.23      2497\nweighted avg       0.83      0.38      0.46      2497\n samples avg       0.93      0.38      0.38      2497\n'

Printing below true lables and predicted labels for any 5 examples

In [0]:
true_labels2 = np.array(y_test2_encoded_df[200:205])

In [0]:
predicted_labels2 = y_pred2_test[200:205]

In [466]:
mlb2.inverse_transform(true_labels2)

[('female25studentleo',),
 ('male36fashionaries',),
 ('female34indunksagittarius',),
 ('female15studentaquarius',),
 ('male35technologyaries',)]

In [467]:
mlb2.inverse_transform(predicted_labels2)

[(),
 ('male36fashionaries',),
 ('female34indunksagittarius',),
 (),
 ('male35technologyaries',)]